<!DOCTYPE html>
<html>
  {% include "_includes/head.html" %}
  {% block custom_head %}{% endblock %}
  <style>{% block style %}{% endblock %}</style>
    <body>
  {% include "_includes/navbar.html" %}
     <div class="page-content">
      <div class="wrap">



<div class="container-fluid">
  <div class='content'>
    <div class="row">
      <div class="col-md-12">
      {% if title %}
  <h2>{{ title }}</h2>
      {% endif %}
      {% if warning %}

      {% endif %}
      {% if  bcs %}
      <ol class="breadcrumb">
        {% for k,v in bcs.items() %}
        {% if v %}
          LINK
        {% else %}
          <li>{{ k }}</li>
        {% endif %}
        {% endfor %}
            <li><a href="/">Home</a></li>
            <li class="active">strain</li>
        </ol>
      {% endif %}
        </div>
    </div>
{% block content %}{% endblock %}
</div>
{% block script %}{% endblock %}

  {% include "_includes/footer.html" %} 
</div>
  
  </div><!-- closes wrap-->
  </div><!-- closes page-content-->
    </body>
</html>