{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
    
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body text-center">
                <img src="/static/img/logo.png" alt="Andersen Lab Logo" style="margin-right:0px; width: 135px; margin-bottom:6px;"/>
            </div>
        </div>


        <div class='text-left'>
            <small>
                <address class='text-left'>
                <strong>Erik C. Andersen, Ph.D.</strong><br />
                c/o Life Sciences Financial Services
                Hogan Hall
                2205 Tech Dr, Suite 2-150<br />
                Evanston IL, 60208
                </address>
            </small>
        </div>

    <form>
        <input type="button" class='btn btn-primary btn-block hidden-print' value="Print Invoice" onClick="window.print()">
    </form>
    
    </div>



<div class='col lg-9 col-md-9 col-sm-9 col-xs-9'>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">{{ title }}</h3>
        </div>

        <table class='table table-bordered'>
            <tr>
                {% if order_obj['is_donation'] == "FALSE" %}
                <th>Shipping Service</th> 
                <th>Tracking</th>
                {% endif %}
                <th>Order Date</th>
            </tr>
            <tr>
                {% if order_obj['is_donation'] == "FALSE" %} 
                <td>{{ order_obj["shipping_service"] }}</td>
                <td>
                {% if order_obj['tracking'] and order_obj['shipping_service'] == "UPS" %}
                  <a href="https://wwwapps.ups.com/WebTracking/track?track=yes&trackNums={{ order_obj['tracking'] }}">{{ order_obj['tracking'] }}</a>
                {% elif order_obj['tracking'] and order_obj['shipping_service'] == "FEDEX" %}
                  <a href="https://www.fedex.com/Tracking?action=track&tracknumbers={{ order_obj['tracking'] }}">{{ order_obj['tracking'] }}</a>
                {% else %}
                  Not yet assigned
                {% endif %}
                </td>
                {% endif %}
                <td>{{ order_obj['date'] }}</td>
            </tr>
        </table>


        <ul class="list-group">
            <li class="list-group-item">
                <h4 class="list-group-item-heading">Address</h4>
                <p class="list-group-item-text">{{ order_obj['name'] }}<br />{{ order_obj['address'].replace("\n", "<br />")|safe }}</p>
                <br />
            </li>
        </ul>

    </div>{# /panel #}




<div class="row">
    <div class="col-md-12">
   <table class="table table-hover table-striped" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width 200px;">Item</th>
                    <th class="price text-right">Price</th>
                </tr>
            </thead>
            <tbody class="searchable"> 
                {% for k, v in order_obj["items"].items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ k }}</td>
                    <td class="price text-right">${{'%0.2f'| format(v)}}</td>
                </tr>
                {% endfor %}

                {% if order_obj['shipping_service'] == "$65 Flat Fee"%}
                <tr> 
                  <td> - </td>
                  <td> $65 Shipping Flat Fee</td>
                  <td class="price text-right">$65</td>
                </tr>
                {% endif %}

                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td class="price text-right"><strong>{{ order_obj["total"] }}</strong></td>
                </tr>
            </tbody>
        </table>
        <div class='hidden-print'>
            <h3>To complete your order</h3>
        
        {% if order_obj['payment'] == 'credit_card' %}
            <p>We will follow-up with you directly via email/phone to complete your order.</p>

        {% else %}

            <ol>
                <li>Print this page out and please include it with your check.</li>
                <li>Make a check payable to Northwestern University and write 'CeNDR' and your invoice number in the memo field.</li>
                <li>Mail the check and this printed page to the address below.</li>
            </ol>
            </div>
            <br />
            <p class='visible-print'>Mail a check payable to Northwestern University and a copy of your invoice to the address below. Please include your invoice number on the check.</p>
            <address>
            <strong>Erik C. Andersen, Ph.D.</strong><br />
            c/o Life Sciences Financial Services<br />
            Hogan Hall<br />
            2205 Tech Dr, Suite 2-150<br />
            Evanston IL, 60208
            </address>
            <p class='hidden-print'>Please contact us if you have any questions (<a href='mailto:cendr@northwestern.edu'>cendr@northwestern.edu</a>; 847-467-4382).</p>
        {% endif %}

      </div>{# /col-md-12 #}
  </div>{# /row #}
</div>
{% endblock %}