<header>


<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CENDR</a>
    </div>


<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right" >
        <li class="dropdown">
          <a href="/about_us/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("about") }}">About <em>C. elegans</em></a></li>
            <li><a href="{{ url_for("panel") }}">Scientific Advisory Panel</a></li>
            <li><a href="{{ url_for("staff") }}">Staff</a></li>
            <li><a href="{{ url_for("statistics") }}">Site Statistics</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Strains <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("map_page")}}">Strain Map</a></li>
            <li><a href="{{ url_for("strain_listing_page")}}">Strain Catalog</a></li>
            <li><a href="{{ url_for("protocols") }}">Protocols</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Submit Strains</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{{ url_for("data_page") }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Data</span></a>
        </li>

        <li class="dropdown">
          <a href="/gwa/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genetic Mapping<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("gwa")}}">Perform Mapping</a></li>
            <li><a href="{{ url_for("strain_listing_page")}}">Public Mappings</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{{ url_for("outreach") }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Outreach</span></a>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>