export FLASK_APP=base/application.py
export APP_CONFIG=debug
export FLASK_DEBUG=1
export GAE_VERSION=`cat .travis.yml  | grep 'export VERSION' | cut -f 2 -d '=' | sed 's/\${TRAVIS_BRANCH}-/debug-/g'`
export GOOGLE_APPLICATION_CREDENTIALS=client-secret.json
export PYTHONPATH=$(pwd)
export WERKZEUG_DEBUG_PIN=off
export TEMPLATE_AUTO_RELOAD=1
export PORT=8080  # For use with docker testing.
gcloud config configurations activate cendr