export FLASK_APP=base/application.py
export APP_CONFIG=local
export FLASK_DEBUG=1
export GOOGLE_APPLICATION_CREDENTIALS=client-secret.json
export PYTHONPATH=$(pwd)
export WERKZEUG_DEBUG_PIN=off
export TEMPLATE_AUTO_RELOAD=0