export FLASK_APP=base/application.py
export GAE_VERSION=development-`cat .travis.yml  | grep 'VERSION_NUM=' | cut -f 2 -d '='`
export GOOGLE_APPLICATION_CREDENTIALS=env_config/client-secret.json
export PYTHONPATH=$(pwd)
export WERKZEUG_DEBUG_PIN=off
export TEMPLATES_AUTO_RELOAD=1
export FLASK_DEBUG=1
export PORT=8080  # For use with docker testing.
gcloud config configurations activate cendr