# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
ancillary/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/


# PyBuilder
target/

#Random
*.DS_Store

package-lock.json

tmp/

# Service accounts
gcloud_fargate.json

mapping_worker/.envrc

env_config/
env_config.zip
env_config_mti/
env_config_mti.zip
env_config_al/
env_config_al.zip


.python-version
base/cendr.db

*.csi
.bash_history
scripts/setup_browser/*

mapping_worker/*

.download/*
*.vcf.gz
*.db

photos/*

*.done

# Heritability run go tool
invoke

.vscode/launch.json
cloud_functions/heritability_run/strain_data.tsv
base/bam_bai_signed_download_script.sh

uploads/