language: bash

env:
  - GOOGLE_CLOUD_BUCKET="elegansvariation.org" GOOGLE_CLOUD_PROJECT_ID="andersen-lab"

install:
- openssl aes-256-cbc -K $encrypted_86f5a1ab1ccf_key -iv $encrypted_86f5a1ab1ccf_iv -in env_config.zip.enc -out env_config.zip -d
- unzip -qo env_config.zip
- export VERSION_NUM=1-7-0d
- export APP_CONFIG=master
- export CLOUD_CONFIG=1
- export GAE_VERSION=${APP_CONFIG}-${VERSION_NUM}
- export GOOGLE_APPLICATION_CREDENTIALS=env_config/client-secret.json
- export GOOGLE_CLOUD_BUCKET=${GOOGLE_CLOUD_BUCKET}
- export GOOGLE_CLOUD_PROJECT_ID=${GOOGLE_CLOUD_PROJECT_ID}

deploy:
  provider: gae
  version: "${GAE_VERSION}"
  project: "${GOOGLE_CLOUD_PROJECT_ID}"
  keyfile: env_config/client-secret.json
  on:
    all_branches: true
  no_promote: true
  no_stop_previous_version: true
  skip_cleanup: true
