    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" />
    <link href="/static/css/lightbox.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.7/d3.js" charset="utf-8"></script>
    <script src="https://d3js.org/queue.v1.min.js"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sprintf/1.0.3/sprintf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' href='/static/img/logo.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>CeNDR | {% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}</title>
