    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link href="/static/css/lightbox.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://d3js.org/queue.v1.min.js"> </script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width">
    <link rel='shortcut icon' href='/static/img/favicon.png' type='image/x-icon'/ >
    <title>CeNDR | {% if page_title %}{{ page_title }}{% else %}{{ title }}{% endif %}</title>
