{% extends "_layouts/default.html" %}

{% block content %}

<p>Bolded strains are isotype reference strains, and tabbed non-bold face strains are strains within an isotype group but not the isotype reference strain.</p>
<p>Only strains with whole-genome sequencing data have BAM files for download. If you do not see a strain, check the <a href="{{ url_for('data.strain_issues', selected_release = selected_release) }}">Strain Issues</a> page.
Some strains have been flagged and removed from distribution and analysis pipelines for a variety of reasons.</p>

{% include('releases/download_tab_strain_v2.html') %}

{% endblock %}

{% block script %}

<script>
</script>

{% endblock %}
