{% extends "_layouts/default.html" %}

{% block title_right %}
{% endblock %}

{% block content %}
<div class="row">

<div class="col-xs-12 col-sm-6 ">
		<div class="panel panel-default">
		<div class="panel-heading">Assistant Professor Erik Andersen</div>
		<div class="panel-body">
					<span style="white-space:nowrap;"><i class="glyphicon glyphicon-envelope"></i>
			<a href="mailto:Erik.Andersen@northwestern.edu">Erik.Andersen@northwestern.edu</a></span><br>
		<abbr title="Phone"><img src="/static/img/icons/phone.png" class="pull-left" alt="phone"></abbr> 
		            <div class="visible-xs"> <a href="tel:+1-847.467.4382">(847) 467-4382</a></div>
		            <div class="hidden-xs"> <span itemprop="telephone">(847) 467-4382</span></div>
		</div>
		</div>


	<h5>Lab Phone</h5>
		<abbr title="Phone"><img src="/static/img/icons/phone.png" alt="phone" class="pull-left" \=""></abbr> 
		            <div class="visible-xs"> <a href="tel:+1-847.467.4264">(847) 467-4264</a></div>
		            <div class="hidden-xs"> <span itemprop="telephone">(847) 467-4264</span></div>
<br><br>


	</div>

	<div class="col-sm-6">
<h4>Administrative Address</h4>
		<address>
		  <strong>Department of Molecular Biosciences<br>Northwestern University</strong><br>
		  2205 Tech Drive, Hogan 2-100<br>
		  Evanston, IL. 60208-3500<br>
		</address>

	<h4>Shipping Address</h4>
		<address>
		  <strong>Department of Molecular Biosciences<br>Northwestern University</strong><br>
		  2145 Tech Drive, Tech MG90<br>
		  Evanston, IL. 60208-3500<br>
		</address>
	</div>

      <div class="col-md-12">
        {{render_markdown("contact.md")}}
        <iframe src="https://goo.gl/forms/FHBp2n0pOF"
        width="950" style="min-height:900px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
  </div>
{% endblock %}
