{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="row">

        <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">Associate Professor Erik Andersen</div>
            <div class="panel-body" style="min-height:4.0rem;">
              <span style="white-space:nowrap;">
                <i class="glyphicon glyphicon-envelope"></i>
                <a href="mailto:Erik.Andersen@northwestern.edu">Erik.Andersen@northwestern.edu</a>
              </span>
              <br>
              <abbr title="Phone"><img src="/static/img/icons/phone.png" class="pull-left" alt="phone"></abbr> 
                <div class="visible-xs"> <a href="tel:+1-847.467.4382">(847) 467-4382</a></div>
                <div class="hidden-xs"> <span itemprop="telephone">(847) 467-4382</span></div>
            </div>
        </div>
      </div> {# /col-md-12#}


  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading">Lab Phone</div>
      <div class="panel-body" style="min-height:3.0rem;">
        <abbr title="Phone"><img src="/static/img/icons/phone.png" class="pull-left" alt="phone"></abbr> 
          <div class="visible-xs"> <a href="tel:+1-847.467.4382">(847) 467-4264</a></div>
          <div class="hidden-xs"> <span itemprop="telephone">(847) 467-4264</span></div>
      </div>
    </div>
  </div>{#/ col-xs-12 #}




   

  </div> {# /row #}
</div> {# /col-lg-4 #}

<div class="col-lg-4 col-md-4 col-sm-6">

  <div class="panel panel-default">
    <div class="panel-heading">Administrative Address</div>
    <div class="panel-body" style="min-height:11.0rem;">
      <address>
        <strong>Northwestern University<br>Department of Molecular Biosciences</strong><br>
        2205 Tech Drive, Hogan 2-100<br>
        Evanston, IL. 60208-3500<br>
    </address>
    </div>
  </div>
</div>{#/ col-md-12 #}


	<div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-6" style="height:100%;">

    <div class="panel panel-default">
      <div class="panel-heading">Shipping Address</div>
      <div class="panel-body" style="min-height:11.0rem;">
        <address>
          <strong>Erik Andersen<br />Northwestern University<br />Department of Molecular Biosciences</strong><br>
          2205 Tech Dr, Hogan 1-500<br>
          Evanston, IL. 60208-3500<br>
      </address>
      </div>
	  </div>
  </div>{#/ col-xs-12 #}



</div> {# /row #}

<div class='row'>
      <div class="col-md-12">
        <iframe src="https://goo.gl/forms/FHBp2n0pOF"
        width="100%" style="min-height:1200px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
      </div>
  </div>
{% endblock %}
