{% extends "_layouts/default.html" %} {% block custom_head %}
<style>
#checkout.affix {
    position: fixed;
    top: 20px;
    width: 136px;
}
</style>
{% endblock %} 


{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <h3>Releases</h3>
            {% for RELEASE, WB_VERSION in RELEASES %}
                <li {% if RELEASE == selected_release %}class="active"{% endif %}><a href="{{ url_for('data.data', selected_release = RELEASE) }}">{{ RELEASE }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr />
<div>

<div class="row">
    <div class="col-md-12">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#download" role="tab" data-toggle="tab">Download</a></li>
    <li role="presentation"><a href="#summary" role="tab" data-toggle="tab">VCF Summary</a></li>
    <li role="presentation"><a href="#phylogeny" role="tab" data-toggle="tab">Phylogeny</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="download">
        {% include('releases/download_tab.html') %}
    </div>
    <div role="tabpanel" class="tab-pane" id="summary">
        {% include('releases/variant_summary_tab.html') %}
    </div>
    <div role="tabpanel" class="tab-pane" id="phylogeny">
        <img style='width:100%' src='https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/phylo/genome.svg'>
    </div>

        
</div>{# Tab Set #}

    </div>{# Download content #}
</div>{# /Download Tab #}


{% include('releases/vcf_modal.html') %}


{% endblock %} 
{% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {
            $('.searchable tr').hide();
            $(this).val().split(',').forEach(function(r) {
                var rex = new RegExp(r, "i");
                $('.searchable tr').filter(function() {
                    return rex.test($(this).text());
                }).show();
            })  
        })

    }(jQuery));

});

$(document).ready(function() {
    $('#filter').keydown(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });


});


</script>
{% endblock %}

