{% extends "_layouts/default.html" %} {% block custom_head %}
<style>
#checkout.affix {
    position: fixed;
    top: 20px;
    width: 136px;
}
</style>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills">
            <h3>Releases</h3>
            {% for RELEASE, WB_VERSION in RELEASES %}
                <li {% if RELEASE == selected_release %}class="active"{% endif %}><a href="{{ url_for('data.data', selected_release = RELEASE) }}">{{ RELEASE }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr />
<div>

<div class="row">
    <div class="col-md-12">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#download" role="tab" data-toggle="tab">Overview</a></li>
    <li role="presentation" ><a href="#Datasets" role="tab" data-toggle="tab">Datasets</a></li>
    <li role="presentation" ><a href="#Pipelines" role="tab" data-toggle="tab">Pipelines</a></li>
    <li role="presentation" ><a href="#Alignment" role="tab" data-toggle="tab">Alignment</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="download">
        {% include('releases/download_tab_strain_v2.html') %}
    </div>

    {#
        DATASETS
    #}
    <div role="tabpanel" class="tab-pane" id="Datasets">
    
        {# VCFs #}
        <table class='table'>
            <thead>
                <th class='col-md-2'>Name</th>
                <th class='col-md-6'>Description</th>
                <th class='col-md-3'>Download</th>
            </thead>
            <tbody>
                <tr>
                    <td><strong>Strain Data</strong></td>
                    <td>Includes strain, isotype, location information, and more.</td>
                    <td><a href="{{ url_for('strain.Strainetadata') }}">strain_data.tsv</a></td>
                </tr>
                <tr>
                    <td><strong>Soft Filter Variants</strong></td>
                    <td>Includes all variants and annotations called by the GATK pipeline. The QC status of each variant (INFO field=<code>FILTER</code>) and genotype (Format Field=<code>FT</code>) is specified by a VCF Field.</td>
                    <td>
                        <a href="https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/variation/WI.{{ selected_release }}.soft-filter.vcf.gz">WI.{{ selected_release }}.soft-filter.vcf.gz</a>
                        <br />
                        <a href="https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/variation/WI.{{ selected_release }}.soft-filter.vcf.gz.csi">WI.{{ selected_release }}.soft-filter.vcf.gz.csi</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Hard Filter Variants</strong></td>
                    <td>Includes only high-quality variants after all variants and genotypes with a failed QC status are removed.</td>
                    <td>
                        <a href="https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/variation/WI.{{ selected_release }}.hard-filter.vcf.gz">WI.{{ selected_release }}.hard-filter.vcf.gz</a>
                        <br />
                        <a href="https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/variation/WI.{{ selected_release }}.hard-filter.vcf.gz.csi">WI.{{ selected_release }}.hard-filter.vcf.gz.csi</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Imputed Variants</strong></td>
                    <td>Includes all the variants from the hard-filtered VCF but all missing genotypes have been imputed using BEAGLE.</td>
                    <td><a href="https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/variation/WI.{{ selected_release }}.impute.vcf.gz">WI.{{ selected_release }}.impute.vcf.gz</a>
                         <br />
                         <a href="https://storage.googleapis.com/elegansvariation.org/releases/{{ selected_release }}/variation/WI.{{ selected_release }}.impute.vcf.gz.csi">WI.{{ selected_release }}.impute.vcf.gz.csi</a>
                    </td>
                </tr>
                <tr>
                    <td><strong>Reference Genome</strong></td>
                    <td>Includes strain, isotype, location information, and more. {{ WORMBASE_VERSION }}</td>
                    <td><a href="{{ url_for('strain.Strainetadata') }}">strain_data.tsv</a></td>
                </tr>
                
            </tbody>

        </table>

    </div>

    <div role="tabpanel" class="tab-pane" id="Pipelines">
        {{ render_markdown(selected_release + "/pipelines.md", directory="base/static/reports") }}
    </div>

    <div role="tabpanel" class="tab-pane" id="Alignment">
        <object style="width:100%;height:150vh;" type="text/html" data="/static/reports/{{ selected_release }}/alignment_report.html"></object>
    </div>


</div>{# Tab Set #}

    </div>{# Download content #}
</div>{# /Download Tab #}

{% include('releases/vcf_modal.html') %}


{% endblock %}
{% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {
            $('.searchable tr').hide();
            $(this).val().split(',').forEach(function(r) {
                var rex = new RegExp(r, "i");
                $('.searchable tr').filter(function() {
                    return rex.test($(this).text());
                }).show();
            })
        })

    }(jQuery));

});

$(document).ready(function() {
    $('#filter').keydown(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
});

$(function() { 
    // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // save the latest tab; use cookies if you like 'em better:
        localStorage.setItem('lastTab', $(this).attr('href'));
    });

    // go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});


</script>
{% endblock %}

