{% extends "_layouts/default.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-6">
      {{ render_markdown("donate.md") }}
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Donate</div>
        <div class="panel-body">
          <form id='form-submit' method="POST" action="{{ url_for('donate') }}">
            <div class="form-group {% if 'address' in missing_fields %}has-warning{% endif %}">
            <div class="form-group {% if 'name' in missing_fields %}has-warning{% endif %}">
            <label for="name" class="control-label">Name</label>
            <br />
            <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{ request.form['name'] }}">
          </div>
          <label for="address" class="control-label">Address</label>
          <br />
          <textarea class="form-control" style="display:block; width: 100%" rows="3" id="address" name="address" placeholder="123 Sheridan Rd.
          Chicago, IL. 60657" value="{{ request.form['address'] }}"></textarea>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <label for="donation_amount">Donation Amount</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input id="donate_amount" name='donation_amount' type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
        <br />
        <button disabled value="Checkout" class="btn btn-primary btn-block g-recaptcha" data-sitekey="{{ config['RECAPTCHA_SITE_KEY']}}" data-callback='onSubmit'><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Donate</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>

$(document).ready(function() {
  $("#donate_amount").on("input", function() {
      if ($("#donate_amount").val() != "") {
          $("#form-submit").prop("disabled", false);
      } else {
          $("#form-submit").prop("disabled", true);
      }
  })

});

function onSubmit(token) {
    document.getElementById("form-submit").submit();
}
</script>
{% endblock %}