{% extends "_layouts/clean.html" %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-4 col-md-offset-4">
<br />
<p style="text-align:center; position:relative;"><img src="/static/img/logo.png" alt="CeNDR Logo"  style="margin-right:40px; max-height:150px; margin: auto; display: inline; margin:20px;" class=" img-responsive"/></p>

      <h1 class='text-center'>Select Login</h1>
      <hr />
        <br />

      <div class="list-group login-collection">
          <a href="{{ url_for('google.login') }}" class="list-group-item list-group-item-action"><i class='fa fa-google'></i> Google</a>
          <a href="{{ url_for('github.login') }}" class="list-group-item list-group-item-action"><i class='fa fa-github'></i> GitHub</a>
          {# <a href="{{ url_for('dropbox.login') }}" class="list-group-item list-group-item-action"><i class='fa fa-dropbox'></i> Dropbox</a>#}
    </div>

    </div>
  </div>


{% endblock %}
