{% extends "_layouts/default.html" %}

{% block content %}



<div class="well instruction-well">


  {#   Mapping instructions #}
  <div class="row">

    <div class="col-md-12 row-margin-top">
      <p>
        This portal will use your data to perform a genome-wide association mapping. Please enter your data using the format shown in the example data file [LINK to example data] and upload the comma-separated file below. This process will take your quantitative trait data for the set of strains that you scored and test for correlations of genotype and phenotype at over 50,000 loci across the C. elegans genome. You will be linked to a report for the mapping experiment along with links to download the data. This mapping portal uses NemaScan [LINK to github project] and can only map one quantitative trait at a time. 
      </p>
      <p>
        Good luck hunting!
      </p>
    </div>{# /col #}

  </div>{# /row #}



{# Data upload form #}
  <form id="form-submit" action="{{ url_for('mapping.schedule_mapping') }}" method="post" onsubmit="disableButton()" class="form form-inline" enctype="multipart/form-data">
    <div class="form-group" style="width:100%">

      <div class="row">

        <div class="col-lg-8 col-lg-offset-2 text-center">
          {{ form.csrf_token }}
          <input hidden name="jwt_csrf_token" value="{{ jwt_csrf_token }}">
          <input id="label" name="label" type="text" class="form-control input-margin" placeholder="Description" style="width:100%" required />
        </div> {# /col #}

      </div> {# /row #}

      <div class="row">

        <div class="col-lg-8 col-lg-offset-2 text-center">
          <input id="file" name="file" type="file" accept=".tsv" class="form-control input-margin" style="width:100%" required /> 
        </div> {# /col #}

      </div> {# /row #}
      
      <div class="row">

        <div class="col-lg-3 col-lg-offset-2 text-center">
          <span class="input-group-btn text-center">
            <a id="result-list-btn" class="btn nu-alt-btn btn-block input-margin" style="width:100%" href="{{ url_for('mapping.mapping_result_list') }}"> My Mapping Reports </a>
          </span>
        </div> {# /col #}

        <div class="col-lg-3 col-lg-offset-2 text-center">
          <span class="input-group-btn text-center">
            <button type="submit" id="submit-btn" class="btn nu-alt-btn btn-block input-margin" style="width:100%"> Run NemaScan Mapping</button>
          </span>
        </div> {# /col #}


      </div> {# /row #}
    </div> {# /form-group #}

  </form>

</div> {# /well #}


{% endblock %}


{% block script %}

<script>

function disableButton() {
  const btn = document.getElementById('submit-btn');
  btn.disabled = true;
  btn.innerText = 'Loading...'
}

</script>

{% endblock %}
