{% extends "_layouts/default.html" %}


{% block content %}
<form method="POST" action=".">

<div class="row">
    <div class="col-md-6">
    {% if session.get('user') %}

        {% from "macros.html" import render_field %}

        {{ form.csrf_token }}

        {{ render_field(form.report_name, autocomplete='off') }}

        {{ render_field(form.description, placeholder='In this experiment...') }}

        {{ render_field(form.is_public) }}

        {{ form.trait_data }}

        <div class="alert alert-info">
            Reports are now stored in your <a href=''>user profile</a>.
        </div>

        <small class="text-muted avail_url"></small>
            <strong>Browser Compatibility</strong> 
            <p>This submission page may not work with every browser. We have tested this page and found it to work with:
            <ul>
                <li>Google Chrome</li>
                <li>Firefox</li>
                <li>Safari</li>
            </ul>
    </div>


    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><em>C. elegans</em> association mapping</div>
            <div class="panel-body">
            <h4>Directions</h4>
            <ol>
              <li>Enter the required information to the left. </li>
              <li>Enter strain name and phenotype data below by dragging and dropping from your spreadsheet. Strain names must be approved names from this site. Names in red need to be edited to match strains in the collection.</li>
              <li>Click submit to map your trait</li>
              <li>Mappings can take up to 15 minutes. Please be patient. Up to five traits can be mapped in parallel at this time.</li>
              <li><a href="{{ url_for('primary.contact') }}">Contact us</a> with problems, questions, or suggestions.</li>
            </ol>
            <hr />
            <h4>DISCLAIMER</h4>
             <p>Although strains from other sources might have the same name as strains used in this resource, genotypes might be confused or names altered. For best association mapping results, please use the strains created as a part of this resource. All sequenced strains are the same as those sent through this resource. Additionally, association mapping results need to be analyzed with care. Allele frequency skews, small sample sizes, or phenotypes similar to genomic positions can cause spurious mapping results, among other issues. Please be critical of mapping data.</p>
            </div>{# / panel-body #}
        </div>{# /panel #}
    </div>{# /col-md-6 #}
</div>{# /row #}


<div class="row">
      <div class="col-md-12">


        <label>Data</label><br />
        Put strain names in the first column (Column A), and up to five traits in columns B-F.<br />
            <div id="entry"></div>
                        <small class="text-muted">Copy and Paste your dataset into the table above.</small>
                        <br />
                        <br />
      </div>{# /col-md-12 #}
</div>{# /row #}


<div class="row">
    <div class="col-md-12">
    {% if form.trait_data.errors %}
    <h4>ERRORS</h4>
    <p>Please fix the errors in your data before submitting again.</p>
        <ul>
            {% for error in form.trait_data.errors %}
                    <li class='text-danger'>{{ error|safe|e }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>{# /col-md-12 #}
</div>{# /row #}

<div class='row'>
    <div class="col-md-6">
        <div id="errors" class="text-danger"></div>
    </div>{# /col-md-6 #}
</div>{# /row #}

<div class='row'>
<br />
<div class='col-md-10'>
    <br />
<strong>If you are not redirected to a reports page after clicking the submit button, please notify us of the issue via the feedback form.</strong>
</div>
<div class='col-md-2'>

            <button type="submit" style="margin-top: 15px;" class="btn btn-primary btn-lg btn-block submit">Submit</button>


</div>
</div>
</form>

{% else %}
    <strong>Please <a href='{{ url_for("choose_login") }}'>login</a> to perform a mapping.
{% endif %}

{% endblock %}


{% block script %}

{% if session.get('user') %}
<script>

{% if form.trait_data.data %}
    var data = {{ form.trait_data.data|safe }}
{% else %}
    var data = [
        ["STRAIN", "", "", "", "", ""],
    ];
{% endif %}


error_list = {{ form.trait_data.error_items|default("[]")|safe }}


function dataValidator(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);

    if (row === 0 && col === 0) {
        cellProperties.readOnly = true;
    }
    if (row === 0) {
        td.style.fontWeight = 'bold';
        td.style.backgroundColor = '#EAEAEA';
    }

    if (error_list.indexOf(String(value).trim()) >= 0) {
        td.style.background = '#FC6666';
        td.style.fontWeight = 'bold';
    }
}

var container = document.getElementById('entry');
var hot = new Handsontable(container, {
    data: data,
    rowHeaders: function(index) {
        if (index == 0) {
            return ""
        } else {
            return index
        }
    },
    colHeaders: true,
    columnSorting: true,
    stretchH: 'all',
    colWidths: 150,
    maxCols: 6,
    manualColumnResize: true,
    contextMenu: true,
    fixedRowsTop: 1,
    minSpareRows: 5,
    minSpareCols: 1,
    cells: function (row, col, prop) {
        var cellProperties = {};
        cellProperties.renderer = dataValidator;
        return cellProperties;
    }
});

// Form submission
$("form").submit(function(e) {
    document.getElementById('trait_data').value = JSON.stringify(hot.getData());
    return true;
   });  
</script>
{% endif %}

{% endblock %}
