{% extends "_layouts/default.html" %}

{% block content %}



<div class="well instruction-well">


  {#   Mapping instructions #}
  <div class="row">

    <div class="col-md-12 row-margin-top">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus id dui eu pharetra. Nunc mattis bibendum maximus. Pellentesque viverra molestie elementum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent aliquet laoreet tellus, quis eleifend lacus fermentum pretium. Pellentesque ac semper lectus, vel elementum nunc. Aliquam et diam lacus. Aliquam vulputate velit quis orci venenatis luctus. Nunc in elit scelerisque libero venenatis dapibus.
      </p>
      <p>
        Cras venenatis lectus at tellus luctus finibus. Fusce id interdum ex, ac tincidunt risus. Sed vehicula erat nulla, a cursus est cursus sit amet. Donec consequat ultricies velit, vitae feugiat lorem tincidunt eget. Mauris in sodales nunc, id interdum est. Aliquam sodales vel lorem non varius. Aenean feugiat tortor id accumsan facilisis. Morbi orci ex, molestie et dictum ac, consectetur a ante. Nullam gravida massa purus, elementum varius nisi fringilla in. Nulla elementum tincidunt elit, et condimentum urna varius sed.
      </p>
      <p>
        Donec faucibus non mauris vel eleifend. Nulla ullamcorper erat magna, vel aliquet urna semper et. Cras vitae tempus ligula. Donec dignissim sem ut arcu ornare tempor. Phasellus magna ante, eleifend eu ex non, ultrices mollis magna. Maecenas rutrum dolor ut ligula vulputate, vitae blandit mi sodales. Aenean ex augue, faucibus quis quam a, vestibulum suscipit sapien. Proin ut sapien pretium ligula rutrum pharetra. Curabitur eu elit at quam egestas bibendum. Nulla ut massa auctor massa ornare sodales. Etiam a ante eget eros lacinia auctor vel sit amet sapien.
      </p>
    </div>{# /col #}

  </div>{# /row #}



{# Data upload form #}
  <form id="form-submit" action="{{ url_for('mapping.schedule_mapping') }}" method="post" onsubmit="disableButton()" class="form form-inline" enctype="multipart/form-data">
    <div class="form-group" style="width:100%">

      <div class="row">

        <div class="col-lg-8 col-lg-offset-2 text-center">
          {{ form.csrf_token }}
          <input hidden name="jwt_csrf_token" value="{{ jwt_csrf_token }}">
          <input id="label" name="label" type="text" class="form-control input-margin" placeholder="Description" style="width:100%" required />
        </div> {# /col #}

      </div> {# /row #}

      <div class="row">

        <div class="col-lg-8 col-lg-offset-2 text-center">
          <input id="file" name="file" type="file" accept=".tsv" class="form-control input-margin" style="width:100%" required /> 
        </div> {# /col #}

      </div> {# /row #}
      
      <div class="row">

        <div class="col-lg-4 col-lg-offset-4 text-center">
          <span class="input-group-btn text-center">
            <button type="submit" id="submit-btn" class="btn btn-primary input-margin" style="width:100%"> Start NemaScan </button>
          </span>
        </div> {# /col #}

      </div> {# /row #}
    </div> {# /form-group #}

  </form>

</div> {# /well #}


{% endblock %}


{% block script %}

<script>

function disableButton() {
  const btn = document.getElementById('submit-btn');
  btn.disabled = true;
  btn.innerText = 'Loading...'
}

</script>

{% endblock %}
