{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
    <div class="col-md-8">
    	{{ render_markdown(filename + ".md", directory = "base/static/content/news/") }}
  	</div>
  	<div class = 'col-md-4'>

      <ul class="list-group">
        {% for f in files %}
        <a class="list-group-item {% if f.strip(".md") == filename %}active{% endif %}" href="{{ url_for('primary.news_item', filename = f.strip('.md')) }}">
            <small class="pull-right">{{ f[:10] }}</small><strong>{{ f[11:].strip(".md").replace("-", " ") }}</strong>
          </a>

        </li>

        {% endfor %}
      </ul>

  	</div>
{% endblock %}