{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-12">
        <div class="col-md-8">
        {% for section in protocols %}
          <h4> {{ section }} </h4>
          {% for p in protocols[section] %}
              <h5>
                <a href="{{ url_for('static', filename=p.link) }}"><img src="{{ url_for('static', filename='img/logos/pdf.png') }}"></a> &nbsp; 
                <a href="{{ url_for('static', filename=p.link) }}">{{ p.name|safe }}</a>
              </h5>
            {% endfor %}
            {% if section == 'Maintenance' %}
                For common methods of <i>C. elegans</i> maintenance, see the WormBook chapter <a href="https://www.wormbook.org/chapters/www_strainmaintain/strainmaintain.html">here</a>.
            {% endif %}
            <br></br>
          {% endfor %}
        </div>
      </div>
</div>
{% endblock %}
