{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
    <div class='col-md-12'>
   {{ user }}

   <h4>Submitted Mappings</h4>

   <table class='table table-striped table-condensed table-hover'>
    <thead>
        <tr>
            <th style='width: 25px;'>#</th>
            <th>Report</th>
            <th>[ Status ] Traits</th>
            <th>Report Version</th>
            <th>Data Release</th>
            <th>Availability</th>
            <th>Description</th>
            <th>Submitted</th>
        </tr>
    </thead>
    <tbody>
        {% for report_group, traits in user_obj.reports()|groupby('report_slug') %}
        {% set report = traits[0] %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href='{{ url_for("mapping.report", report_slug=report.report_slug) }}'><strong>{{ report.report_slug }}</strong></a></td>
            <td style='white-space: nowrap'>{% for trait in traits %}
                {{ '[{:20}]'.format(trait.status) }}
                <a href="{{ url_for('mapping.report', report_slug=report.report_slug, trait_name=trait.trait_name) }}">
                    {% if trait.is_significant %}
                        <strong>{{ trait.trait_name }}</strong>
                    {% else %}
                        {{ trait.trait_name }}
                    {% endif %}
                </a>
            </br />
            {% endfor %}</td>
            <td>{{ report.REPORT_VERSION }}</td>
            <td>{{ report.DATASET_RELEASE }}</td>
            <td><em>{% if report.is_public %}Public{% else %}Private{% endif %}</em></td>
            <td>{{ report.description }}</td>
            <td><span style='white-space: nowrap'>{{ report['created_on'].strftime("%Y-%m-%d&nbsp;%H:%m:%S")|safe }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}