{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
    <div class='col-md-12'>
   {{ user }}

   <h4>Submitted Mappings</h4>

   <table class='table table-striped table-condensed table-hover'>
    <thead>
        <tr>
            <th>Report</th>
            <th>Status</th>
            <th>Public</th>
            <th>CeNDR Version</th>
            <th>Data Version</th>
            <th>Description</th>
            <th>Submitted</th>
        </tr>
    </thead>
    <tbody>
        {% for report in user_obj.reports() %}
        <tr>
            <td><a href='{{ url_for("mapping.report", report_slug=report.report_slug) }}'>{{ report.report_slug }}</a></td>
            <td>{{ report.status }}</td>
            <td><i>{% if report.is_public %}<i class='glyphicon glyphicon-ok'>{% endif %}</td>
            <td>{{ report.version_cendr }}</td>
            <td>{{ report.version_release }}</td>
            <td>{{ report['description'] }}</td>
            <td><span style='white-space: nowrap'>{{ report['created_on'].strftime("%Y-%m-%d&nbsp;%H:%m")|safe }}</span>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}