<!DOCTYPE html>
<html>
  {% include "_includes/head.html" %}
  {% block custom_head %}{% endblock %}
  <style>{% block style %}{% endblock %}</style>
    <body>
  {% include "_includes/navbar.html" %}
     <div class="page-content">
      <div class="wrap">



<div class="container-fluid">
  <div class='content'>
    <div class="row">
      <div class="col-md-12">


      <div id="alert"></div>
      {% if title %}
  <h2>{{ title }}        {% if subtitle %}<small>{{subtitle}}</small>{% endif %}{% block title_right %}{% endblock %}</h2>
      {% endif %}
      {% if warning %}

      {% endif %}
      {% if  bcs %}
      <ol class="breadcrumb">
          <li><a href="/">Home</a></li>
        {% for k,v in bcs.items() %}
        {% if v %}
          <li><a href="{{ v }}">{{ k }}</a></li>
        {% else %}
          <li class="active">{{ k }}</li>
        {% endif %}
        {% endfor %}
        </ol>
      {% endif %}


        </div>

    </div>
    <div id="feedback">
      <div id="feedback-tab" onclick= "window.open('http://goo.gl/forms/rfWz4AlCIP');">
        Feedback
      </div>
  </div>
{% block content %}{% endblock %}
</div>
{% block script %}{% endblock %}


<script>

function set_alert(alert_type, title, text) {
  $("#alert").hide().html("<div class='alert alert-dismissible alert-" + alert_type + "'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>" + title + "</strong> " + text + "</div>").fadeIn();
} 


$(function () {
  $('[tooltip]').tooltip()
})


</script>


  {% include "_includes/footer.html" %} 
</div>
  
  </div><!-- closes wrap-->
  </div><!-- closes page-content-->
    </body>
</html>