{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">

{% if 'stripeToken' in request.form %}
      <div class="col-md-12">
        <h1>Thank You!</h1>

        <p>Your donation of ${{'%0.2f'| format(donation/100|float)}} will benefit the <em>C. elegans</em> community and CeNDR! You should receive a receipt!</p>
      </div>

{% else %}
      <div class="col-md-8">
        {{ render_markdown("donate.md") }}
      </div>

      <div class="col-md-4">

       <!-- <div class="panel panel-default">
          <div class="panel-heading">Donate</div>
          <div class="panel-body">
          </div>
        </div> -->

      </div>
{% endif %}
  </div>

{% endblock %}

{% block script %}

<script>
$(document).ready(function() {
  
  $("#donate_amount").on("input", function() {
    if ($("#donate_amount").val() != "") {
      $("#purchase").prop("disabled", false);
    } else {
      $("#purchase").prop("disabled", true);
    }
  })

});
</script>


{% endblock %}