{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-4">

            <ul class="list-group">
              <li class="list-group-item"><strong>Locus</strong><div class='pull-right'>{{ gene_record ["locus"] }}</div></li>
              <li class="list-group-item"><strong>Sequence name</strong><div class='pull-right'>{{ gene_record ["sequence_name"] }}</div></li>
              <li class="list-group-item"><strong>Biotype</strong><div class='pull-right'>{{ gene_record ["biotype"] }}</div></li>
              <li class="list-group-item"><strong>Location</strong><div class='pull-right'>{{ gene_record ["CHROM"] }}:{{ gene_record ["start"] }}-{{ gene_record ["end"] }}</div></li>
            </ul>

      </div>
      <div class="col-md-8">

      <h3>Mappings</h3>
      <table class='table table-striped table-hover'>
      <thead>
      <th>Report → Trait</th>
      <th>Interval</th>
      <th>Variance Explained</th>
      <th>log<sub>10</sub>p</th>
      <th>Submission Date</th>
        {% for i in mapping_set %}
        <tr>
          <td><a href="{{ url_for('trait_view', report_slug=i.report_slug, trait_slug=i.trait_slug ) }}">{{ i.report_name }} → {{ i.trait_name }}</a></td>
          <td>{{ i.chrom }}:{{ i.interval_start }}-{{ i.interval_end }}</td>
          <td>{{ i.variance_explained }}</td>
          <td>{{ i.log10p|round(3) }}</td>
          <td>{{ i.submission_date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}

      </table>

      <h3>Variants</h3>
      <table class='table table-striped table-hover'>
      <thead>
            <tr>
                  <th>Location</th>
                  <th>Reference</th>
                  <th>Alternate</th>
                  <th>Amino Acid Change</th>
                  <th>Exon</th>
                  <th>Annotation</th>
                  <th>Putative Impact</th>
            </tr>
      </thead>
      <tbody>
                  {% for i in variants %}
                        <tr class='{{ tbl_color[i["putative_impact"]] }}'>
                              <td>{{ i["CHROM"] }}:{{ i["POS"] }}</td>
                              <td>{{ i["REF"] }}</td>
                              <td>{{ i["ALT"] }}</td>
                              <td>{{ i["hgvs_p"] }}</td>
                              <td>{{ i["rank_total"] }}</td>
                              <td>{{ i["annotation"] }}</td>
                              <td>{{ i["putative_impact"] }}</td>
                        </tr>
                  {% endfor %}
      </tbody>
      </table>
      
      </div>
</div>
{% endblock %}