{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-4">

            <ul class="list-group">
              <li class="list-group-item"><strong>Locus</strong><div class='pull-right'>{{ gene_record ["locus"] }}</div></li>
              <li class="list-group-item"><strong>Sequence name</strong><div class='pull-right'>{{ gene_record ["sequence_name"] }}</div></li>
              <li class="list-group-item"><strong>Biotype</strong><div class='pull-right'>{{ gene_record ["biotype"] }}</div></li>
              <li class="list-group-item"><strong>Location</strong><div class='pull-right'><a href="{{ url_for("browser", chrom = gene_record["CHROM"], start = gene_record["start"], end = gene_record["end"], tracks = "lmh") }}">{{ gene_record ["CHROM"] }}:{{ gene_record ["start"] }}-{{ gene_record ["end"] }}</a></div></li>
            </ul>

            <h4>Human Disease</h4>
            <table class='table table-striped table-bordered' id="omim">
            <thead>
            <tr>
              <th>Class</th>
              <th>OMIM</th>
              <th>Description</th>
            </tr>
            </thead>

            <tbody>
            </tbody>
            </table>

            <h4>External Links</h4>
            <ul class="list-group" id="external_links">

            </ul>

      </div>
      <div class="col-md-8">

      <h3>Mappings</h3>
      <table class='table table-striped table-hover'>
      <thead>
      <th>Report → Trait</th>
      <th>Interval</th>
      <th>Variance Explained</th>
      <th>log<sub>10</sub>p</th>
      <th>Submission Date</th>
        {% for i in mapping_set %}
        <tr>
          <td><a href="{{ url_for('trait_view', report_slug=i.report_slug, trait_slug=i.trait_slug ) }}">{{ i.report_name }} → {{ i.trait_name }}</a></td>
          <td>{{ i.chrom }}:{{ i.interval_start }}-{{ i.interval_end }}</td>
          <td>{{ i.variance_explained|round(3) }}</td>
          <td>{{ i.log10p|round(3) }}</td>
          <td>{{ i.submission_date.strftime('%Y-%m-%d') }}</td>
        </tr>
        {% endfor %}

      </table>

      <h3>Variants</h3>
      <table class='table table-striped table-hover table-responsive'>
      <thead>
            <tr>
                  <th>Location</th>
                  <th>Sequence</th>
                  <th>REF</th>
                  <th>ALT</th>
                  <th>Amino Acid Change</th>
                  <th>Exon</th>
                  <th>Annotation</th>
                  <th>Putative Impact</th>
            </tr>
      </thead>
      <tbody>
                  {% for i in variants %}
                        <tr class='{{ tbl_color[i["putative_impact"]] }}'>
                              <td>{{ i["CHROM"] }}:{{ i["POS"] }}</td>
                              <td>{{ i["feature_id"] }}</td>
                              <td>{{ i["REF"] }}</td>
                              <td>{{ i["ALT"] }}</td>
                              <td>{{ i["hgvs_p"] }}</td>
                              <td>{{ i["rank_total"] }}</td>
                              <td>{{ i["annotation"].replace("&", "<br />") | safe }}</td>
                              <td>{{ i["putative_impact"] }}</td>
                        </tr>
                  {% endfor %}
      </tbody>
      </table>
      
      <h3>Phenotypes</h3>
      <table class='table table-striped table-hover table-condensed table-responsive' style="table-layout: fixed; margin: 0 auto; width: 100%x;" id="phenotypes">
    <colgroup>
            <col style="width:50%" />
            <col style="width:50%" />
    </colgroup>
        <thead>
          <th>Phenotype</th>
          <th>Evidence</th>
          <th></th>
        </thead>
        <tbody>
        </tbody>
      </table>


      <h3>Gene Ontology</h3>
      <table class='table table-striped table-hover' id="gene_ontology">
        <thead>
          <th>Type</th>
          <th>ID</th>
          <th>Label</th>
        </thead>
        <tbody>
        </tbody>
      </table>

      </div>
</div>


<script>

$.getJSON("/api/wormbase/widget/gene/{{ gene_record["Name"] }}/external_links", function(msg) {
  link_set = {Wormbase: "http://www.wormbase.org/species/c_elegans/gene/{{ gene_record["Name"] }}"}
  $.each(msg["fields"]["xrefs"]["data"], function(k, d) {
    if (k == "AceView") {
      id = d["gene"]["ids"][0];
      link = "http://www.ncbi.nlm.nih.gov/IEB/Research/Acembly/av.cgi?db=worm&q=" + id;
      link_set[k] = link;
    } else if(k == "NCBI") {
      id = d["gene"]["ids"][0];
      link = "http://www.ncbi.nlm.nih.gov/gene/?term=" + id;
      link_set[k] = link;
    } else if(k == "NDB") {
      id = d["locus_tag"]["ids"][0];
      link = "http://www.wormbase.org/species/c_elegans/gene/" + id;
      link_set[k] = link
    } else if(k == "RefSeq") {
      id = d["mRNA"]["ids"][0];
      link = "http://www.ncbi.nlm.nih.gov/protein/" + id;
      link_set[k] = link
      id = d["protein"]["ids"][0];
      link = "http://www.ncbi.nlm.nih.gov/protein/NP_498558.1" + id;
      link_set[k] = link;
    } else if (k == "TREEFAM") {
      id = d["TREEFAM_ID"]["ids"][0]
      link = "http://www.treefam.org/family/" + id;
      link_set[k] = link;
    } else if (k == "UniProt") {
      id = d["UniProtAcc"]["ids"][0]
      link = "http://www.ebi.uniprot.org/entry/" + id;
      link_set[k] = link;
    } else if (k == "WormQTL") {
      id = d["gene"]["ids"][0];
      link = "http://www.wormqtl.org/molgenis.do?__target=QtlFinderPublic2&select=QtlFinderPublic2&p=" + id;
      link_set[k] = link;
    }


    linked = ""
    link_set = $.each(link_set, function(k, v) {
      linked += "<li class='list-group-item'><a style='width: 100%; height:100%; display: block;' href='" + v + "'>" + k + "</a></li>";
    })

    $("#external_links").html(linked);

  });
  
})

</script>

<script>
{# OMIM #}

$.getJSON("/api/omim/{{ gene_record["Name"] }}", function(msg) {
  omim_table = "";
  $.each(msg["omim_diseases"], function(k,v) {
    omim_table += "<tr><td>Disease</td><td><a href='http://omim.org/entry/'" + k + "'>" + k + "</a></td><td>" + v + "</td></tr>";
  });
  $.each(msg["omim_genes"], function(k,v) {
    omim_table += "<tr><td>Gene</td><td><a href='http://omim.org/entry/'" + k + "'>" + k + "</a></td><td>" + v + "</td></tr>";
  });
  $("#omim > tbody").html(omim_table)
})

</script>

<script>
{# Gene Ontology #}
var term_set = "";
var current_grouping = "";
$.getJSON("/api/wormbase/widget/gene/{{ gene_record["Name"] }}/gene_ontology", function(msg) {
  $.each(msg["fields"]["gene_ontology_summary"]["data"], function(grouping, v) {
    grouping = grouping.replace("_", " ");
    $.each(v, function(i, term) {
      term_d = term["term_description"][0];
      term_set += "<tr><td>" + grouping + "</td><td><a href='http://amigo.geneontology.org/amigo/term/" + term_d["id"] + "'>" + term_d["id"] + "</a></td><td>" + term_d["label"] + "</td></tr>";
    });
  });
  $("#gene_ontology > tbody").html(term_set)
})
</script>

<script>
{# Phenotypes #}

$.getJSON("/api/wormbase/widget/gene/{{ gene_record["Name"] }}/phenotype", function(msg) {
  if (msg["fields"]["phenotype"]["data"]) {
    ptable = "";
  $.each(msg["fields"]["phenotype"]["data"], function(k, e) {
    phenotype = e["phenotype"]["label"];
    ptable += "<tr><td>" + phenotype + "</td><td>";
    $.each(e["evidence"], function(evidence_type, piece_of_evidence) {
      $.each(piece_of_evidence, function(x,i) {
        console.log(i);
        if (i['text']['class'] == 'rnai') {
          evidence_class = "RNAi";
        } else {
          evidence_class = i['text']['class'];
        }
        ptable += " <a href='http://www.wormbase.org/search/phenotype/" + i['text']["id"] + "' class='label label-primary'>" + evidence_class + ": " + i['text']["label"] + "</a>"
      });
    });
    ptable += "</td></tr>";
  });
  $("#phenotypes > tbody").html(ptable)
}
});

</script>

{% endblock %}


