{% extends "_layouts/default.html" %}

{% block custom_head %}
<script src="/static/js/handsontable.full.min.js"></script>
<link rel="stylesheet" media="screen" href="/static/css/handsontable.full.min.css">
{% endblock %}

{% block title_right %}

<a href="{{ url_for('status_page') }}" class="btn btn-link pull-right">Mapping Queue</a>

{% endblock %}



{% block content %}
<form method="POST">

<div class="row">

<div class="col-md-6">

<fieldset class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="Email" placeholder="Enter email">
    <small class="text-muted">We will never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group has-feedback">
    <label for="ReportName">Report Name</label>
    <input type="text" class="form-control" id="ReportName" placeholder=""  autocomplete='off'>
    <span class="glyphicon glyphicon-remove form-control-feedback report_name_error has-error" style="display: None;" aria-hidden="true"></span>
    <small class="text-muted avail_url"></small>
  </fieldset>

  
  <label for="Release">Release</label>
  <div class="radio">
    <label>
      <input type="radio" name="Release" value="public" checked>
      Public <small class="text-muted">Your report will be publicly available.</small>
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="Release" value="embargo12">
      Embargo for one year
    </label> <small class="text-muted embargo12">Your report will be publicly available on {{ embargo_release }}.</small>
  </div>

    <div class="radio">
    <label>
      <input type="radio" name="Release" value="private">
      Private <small class="text-muted">Your report will be kept private.</small>
    </label>
  </div>


</div>


<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"><em>C. elegans</em> association mapping</div>
<div class="panel-body">
<h4>Directions</h4>
<ol>
  <li>Enter the required information to the left. </li>
  <li>Enter strain name and phenotype data below by dragging and dropping from your favorite spreadsheet. Strain names must be approved names from this site. Names in red need to be edited to match strains in the collection.</li>
  <li>Click submit to map your trait</li>
  <li>Mappings can take up to 15 minutes. Please be patient. Up to five traits can be mapped in parallel at this time.</li>
  <li><a href="{{url_for('contact') }}">Contact us</a> with problems, questions, or suggestions.</li>
</ol>
<hr />
<h4>DISCLAIMER</h4>
 <p>Although strains from other sources might have the same name as strains used in this resource, genotypes might be confused or names altered. For best association mapping results, please use the strains created as a part of this resource. All sequenced strains are the same as those sent through this resource. Additionally, association mapping results need to be analyzed with care. Allele frequency skews, small sample sizes, or phenotypes similar to genomic positions can cause spurious mapping results, among other issues. Please be critical of mapping data.</p></div>
</div>
</div>
</div>


<div class="row">
      <div class="col-md-12">
        <label>Data</label><br />
            <div id="entry"></div>
                        <small class="text-muted">Copy and Paste your dataset into the table above.</small>
                        <br />
                        <br />
      </div>
</div>
<div class="row">
<div class="col-md-6">
</div>
<div class="col-md-6">
            <div id="errors" class="text-danger"></div>
            <div class="pull-right">
            <button type="submit" style="margin-top: 5px;" class="btn btn-primary btn submit" disabled>Submit</button>
            </div>
      </div>

</div>
</form>
{% endblock %}


{% block script %}

<script>


String.prototype.hashCode = function() {
  var hash = 0, i, chr, len;
  if (this.length === 0) return hash;
  for (i = 0, len = this.length; i < len; i++) {
    chr   = this.charCodeAt(i);
    hash  = ((hash << 10) - hash) + chr;
    hash |= 0; // Convert to 32bit integer
  }
  return Math.abs(hash);
};


  var data = [
    ["STRAIN", "", "", ""],
  ];

var render_bold = function (instance, td, row, col, prop, value, cellProperties) {
  Handsontable.renderers.TextRenderer.apply(this, arguments);
  td.style.fontWeight = 'bold';
};

var render_header = function (instance, td, row, col, prop, value, cellProperties) {
  Handsontable.renderers.TextRenderer.apply(this, arguments);
  td.style.fontWeight = 'bold';
  td.style.backgroundColor = '#EAEAEA';
};

strain_list = {{strain_list| safe }};
incorrect_strains = [];

// Strain Validator
strainValidator = function (value, callback) {
    setTimeout(function(){
      if (strain_list.includes($.trim(value)) || value == "") {
        callback(true);
      }
      else {
        callback(false);
      }
    }, 1);
  };

strainValidatorfunc = function (value) {
      if (strain_list.includes($.trim(value)) || value == "") {
        return true;
      }
      else {
        return false;
      }
    };


var container = document.getElementById('entry');
var hot = new Handsontable(container,
 {
   data: data,
   colHeaders: false,
   stretchH: 'all',
   columnSorting: true,
   contextMenu: true,
   fixedRowsTop: 1,
   minSpareRows: 5,
   minSpareCols: 1,
   afterChange: error_checking,

   cells: function (row, col, prop) {
      var cellProperties = {};
      
      if (row === 0) {
        cellProperties.renderer = render_header;
      }
      if (col === 0) {
        cellProperties.renderer = render_bold;
        cellProperties.validator = strainValidator;
        cellProperties.autoComplete = strain_list;
      }
      if (col === 0 && row === 0) {
        cellProperties.readOnly = true;
        cellProperties.renderer = render_header;
      }
    return cellProperties
  }


  });

var update_url_message = function(e) {
  report_name = $("#ReportName").val();
  release = $("input[name=Release]:checked").val()


  // Validate report name.
  if (report_name.length > 0) {
  $.ajax({
   url:"/validate_url/",
   data: JSON.stringify(
          {"report_name": $("#ReportName").val(),
           "release": release }),
   method: "POST",
   contentType: 'application/json;charset=UTF-8'
   }).done(function(msg) {
      msg = JSON.parse(msg);
      if ("error" in msg) {
        // Error
        $("#ReportName").parent().addClass("has-error");
        $(".report_name_error").fadeIn();
        $(".avail_url").html(msg["error"]).addClass("has-error");
      } else {
        $(".report_name_error").fadeOut();
        $("#ReportName").parent().removeClass("has-error");

      if ($("[name='Release']:checked").val() == "public") {
      report_url = "/report/" + msg["report_slug"];
      } else {
      report_url = "/report/" + msg["report_hash"];
      }

      $(".avail_url").html("Your report will be available at elegansvariation.org" + report_url)
    }
   });
 } else {
    $("#ReportName").parent().removeClass("has-error");
    $(".report_name_error").fadeOut();
    $(".avail_url").html("");
  }
}

function onlyUnique(value, index, self) { 
    return self.indexOf(value) === index;
}

function validInput(val) {
  return val !== null && val !== ""
}

function error_checking() {
  // Error Checking

  // Unique Column Names
  var error_list = Array();
  col_names = data[0].filter(validInput);
  if (col_names.filter(onlyUnique).length != col_names.length) {
    error_list.push("Duplicated column names");
  }

  // No more than 10 traits
  if (col_names.length > 11) {
    error_list.push("Maximum of 10 traits.");
  }

  // Unique Strain Names
  var row_names = Array();
  for (i = 1; i < data.length; i++) { 
    row_names.push($.trim(data[i][0]))
  }
  row_names = row_names.filter(validInput);

  if (row_names.filter(onlyUnique).length != row_names.length) {
     error_list.push("You have duplicated strain names");
  }

  // At least 5 strains
  if (row_names.length < 5) {
    error_list.push("A minimum of five strains are required");
  }

  // report email required
  if ($("#Email").val() == 0) {
    error_list.push("Report email required");
  }

  // report name required
  if ($("#ReportName").val() == 0) {
    error_list.push("Report name required");
  }

  // Correct Strain Names
  if (row_names.every(strainValidatorfunc) == false) {
    error_list.push("Incorrect strain names");
  }

  if (error_list.length > 0) {
    $("#errors").html("<h4>Resolve the following errors before submitting:</h4><ul><li class='warning'>" + error_list.join("</li><li>") + "</li></ul>")
    $(".submit").attr("disabled", true);
  } else {
     $("#errors").html("")
    $(".submit").attr("disabled", false);
  }
}


$("#ReportName,input[name=Release]").on('change', update_url_message);
$("#ReportName,input[name=Release]").on('keyup', update_url_message);
$("input").on('change', error_checking);
$("input").on('keyup', error_checking);



$("form").submit(function(e) {
  e.preventDefault();
  $(".submit").attr("disabled", true);
  $(".submit").html('Processing<div class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>');
  user_email = $("#Email").val()
  report_name = $("#ReportName").val()
  release = $("input[name=Release]:checked").val()

  data = hot.getData();


  $.ajax({
     url:"/process_gwa/",
     data: JSON.stringify({"email":user_email,
            "report_name": $("#ReportName").val(),
            "release": release,
            "trait_data": hot.getData() }),
     method: "POST",
     contentType: 'application/json;charset=UTF-8'
     }
     ).done(function(msg) {
      msg = JSON.parse(msg);
      if(msg["success"]) {
        if ($("[name='Release']:checked").val() == "public") {
          report_url = "/report/" + msg["report_slug"];
        } else {
          report_url = "/report/" + msg["report_hash"];
        }
        $(".alert_row").css("display:Visible")
        $(".alert").addClass("alert-success")
        $(".content").prepend("<div class='row'><div class='col-md-12'><div class='alert alert-success' role='alert'><strong>Success!</strong> Now mapping. Your report will be available at <a href='" + report_url + "'>" + report_url + "</a>. Redirecting you there now.</div></div></div>");
        // Remove submit button
        $(".submit").remove();
        window.scrollTo(500, 0);
        setTimeout(
        function() 
        {
          window.location.href = report_url;
        }, 5000);
      }
  });
})




</script>

{% endblock %}
