{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-2 col-sm-2">
              <img src="/static/img/logo.png" alt="Andersen Lab Logo" class="pull-left hidden-xs" style="margin-right:0px; width: 135px; margin-bottom:60px;"/>
              <p style="text-align:center; position:relative; left:10px;" class="visible-xs"><img src="/static/img/logo.png" alt="CeNDR Logo"  style="margin-right:40px; max-height:150px; margin: auto; display: inline; margin-bottom:20px;" class=" img-responsive"/></p>
          </div>
          <div class="col-md-8 col-sm-10">
            <div class="hidden-xs lead" style="font-size: 1.4em;"><strong>Welcome to the <em>Caenorhabditis elegans</em> Natural Diversity Resource</strong></div>
            <div class="visible-xs lead" style="font-size: 1.4em; text-align: center;"><strong>Welcome to the <em>Caenorhabditis elegans</em> Natural Diversity Resource</strong></div>
            <p>The <em>Caenorhabditis elegans</em> Natural Diversity Resource (CeNDR) at Northwestern University provides three major services: </p>
            <ol>
              <li>Collection, maintenance, and distribution of wild <em>C. elegans</em> strains</li>
              <li>Organization and dissemination of whole-genome sequences for wild <em>C. elegans</em> strains</li>
              <li>Facilitation of genetic mappings to empower individual researchers in gene discovery</li>
            </ol>
          </div>

          <div class="col-md-2">
                     <img src="/static/img/logos/NU.png" class="pull-right hidden-xs hidden-sm img-responsive" style="width: 140px; margin-top:15px;"/>
          </div>
        </div>
  </div>
</div>
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <div class="thumbnail img-responsive" style="border: 1px solid black; padding: 0; border-radius: 5px; min-height: 425px" >
        <a href="{{ url_for("map_page") }}" ><img src="/static/img/main/strain_map.png" style="border-radius: 5px 5px 0px 0px;"></a>
        <div class="caption">
          <p><a href="{{ url_for("map_page") }}" class="btn btn-primary btn-block" role="button">Strains</a></p>
          <p>Wild <em>C. elegans</em> isolates and information are available.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="thumbnail" style="border: 1px solid black; padding: 0; border-radius: 5px; min-height: 425px" >
        <a href="{{ url_for("data_page") }}"><img src="/static/img/main/variant-calling.png" style="border-radius: 5px 5px 0px 0px; "></a>
        <div class="caption">
          <p><a href="{{ url_for("data_page") }}" class="btn btn-primary btn-block" role="button">Data</a></p>
            <p>Aligned sequence data and variant data for <em>C. elegans</em> wild isolates are available.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="thumbnail" style="border: 1px solid black; padding: 0; border-radius: 5px; min-height: 425px">
        <a href="{{ url_for("gwa") }}" ><img src="/static/img/main/map_data.png" alt="perform gwa" style="border-radius: 5px 5px 0px 0px;"></a>
        <div class="caption">
          <p><a href="{{ url_for("gwa") }}" class="btn btn-primary btn-block" role="button">Perform Mapping</a></p>
          <p>Map your own traits using genome-wide association.</p>
        </div>
      </div>
    </div>
</div>

<div class="row">
<div class="col-md-6">

<div class="panel panel-default">

 <div class="panel-heading">
 <form class="pull-right" action ="{{ url_for('public_mapping') }}" method="get" name="login">
  <div class="form-group">
    <input type="search" style="margin-top:3px;" class="form-control" name="query" placeholder="Find Mappings" value="{% if query %}{{ query }}{% endif %}">
  </div>
</form>

<h4>Latest Mappings</h4>

</div>

  <table class="table table-striped table-hover">

{% for i in latest_mappings %}
<tr>
<td><a href="{{ url_for('trait_view', report_slug=i.report_slug, trait_slug=i.trait_slug ) }}">{{ i.report_name }} → {{ i.trait_name }}</a>
<div class='pull-right'><small>{{ i.submission_date.strftime('%Y-%m-%d') }}</small></div></td>
</tr>
{% endfor %}
</table>
</div>
</div>
  <div class="col-md-4">
    {% if files %}
      <div>
      <h4>News <a href = "{{ url_for('feed') }}" type="button" style="background-color: #FFA500; border: 1px solid black; color: black;" class="btn btn-primary btn-xs">RSS</a> 
        <a href = "{{ url_for('news_item') }}" type="button" class="btn btn-primary btn-xs">Archive</a>
        <a href = "{{ url_for('help_item' , filename = 'Change-Log') }}" type="button" style="background-color: #f4e5fe; border: 1px solid black; color: black;" class="btn btn-primary btn-xs">Change Log</a>
      </h4>
        {% for f in files%}

            <h4 class="list-group-item-heading"><a href="{{ url_for('news_item', filename = f.strip(".md")) }}">{{ f[11:].strip(".md").replace("-", " ") }}</a> <small>{{ f[:10] }}</small></h4>
            </a> <br />

        {% endfor %}
    </div>
    {% endif %}

</div>
</div>

<div class='row'>

<div class='col-md-12'>
<hr />
<div class="pub"><div class="pub-img">
            </div><div class="pub-img-small">
            <a href="http://andersenlab.org/publications/2016CookOxford.pdf" class="thumbnail" target="_blank">
            <img src="/static/img/2016CookOxford.thumb.png" alt="2016CookOxford">
            </a>
            </div><strong>CeNDR, the <em> Caenorhabditis elegans</em> natural diversity resource</strong><br />Cook DE, Zdraljevic S, Roberts JP, Andersen EC
                <br>                
                (2016 Oct 3) <em>Nucleic Acids Research</em> [ <a href="http://nar.oxfordjournals.org/content/early/2016/10/03/nar.gkw893.full">Article on Nucleic Acids Research</a> | <a title="Document Object Identifier; Takes you to the Journal Website" href="http://dx.doi.org/10.1093/nar/gkw893" target="_blank">DOI</a> | <a href="http://www.ncbi.nlm.nih.gov/pubmed/27701074" target="_blank">Pubmed</a> ]
      </div>
</div>

</div>

{% endblock %}

{% block script%}
{% endblock %}