{% extends "_layouts/default.html" %}

{% block custom_head %}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/leaflet-search.css" />
  <script src="/static/js/leaflet.js"></script>
  <script src="/static/js/leaflet-search.js"></script>
{% endblock %}


{% block content %}
<div class="row">
      <div class="col-md-8">
              <div id="map" class="col-md-8" style="height: 500px; width:100%"></div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><img src = "/static/img/icons/selected.png" width="20px;" /><strong>Strain Information</strong></div>
              <ul class="list-group">
                <li class="list-group-item">
                <strong>
                <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                            Isotype
                </span>
                </strong> 
                        <div class="isotype pull-right"></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name of strain we distribute as a representative of an isotype.">
                            Reference Strain
                            </span></strong> 
                            <div class="strain pull-right"></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Isolation Date</strong> <div class="isolation_date pull-right"></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Lat/Lon</strong> <div class="latlng pull-right"><div class="comma"></div></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Location</strong> <div class="location pull-right"></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Landscape</strong> <div class="landscape pull-right"></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Substrate</strong> <div class="substrate pull-right"></div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Isolated By</strong> <div class="isolated_by pull-right"></div><div style="clear:both;"></div></li>
              </ul>
        </div>
        <a class="btn btn-primary btn-s btn-block" href="{{ url_for("strain_submission_page") }}" role="button">Submit Strains</a></p>
      </div>
</div>
<div class="row text-center">
  <div class="col-md-8 col-xsm-offset-1">
    <h5><strong>Hover over or click a pin to see information about a <i>C. elegans</i> wild isolate</strong></h5>
  </div>
</div>
{% endblock %}


{% block script %}

<script>

// Icons
var icon_norm = L.icon({
    iconUrl: '/static/img/icons/marker.png',
    iconSize: [24, 24],
    iconAnchor: [12, 16],
    popupAnchor: [-3, -76]
});

var icon_hover = L.icon({
    iconUrl: '/static/img/icons/selected.png',
    iconSize: [24, 24],
    iconAnchor: [12, 16],
    popupAnchor: [-3, -76]
});

// Default click_s
var click_s = {
  target: {
    options: {strain: "", title: "", isotype: "", landscape: "", loc: "", comma: "", isolation_date: "", location: "", substrate: "", isolated_by: ""},
    setIcon: function(){},
  },
  latlng: { lat: "", lng: ""},
}


function set_panel_from_search(m) {
  click_s.target.setIcon(icon_norm)
  s = m.layer.options
  $(".strain").text(s.strain);
  $(".isotype").html("<strong><a href='/strain/" + s.isotype + "/'>" + s.isotype + "</a></strong>");
  $(".isolation_date").text(s.isolation_date);
  $(".latlng").text(m.latlng.lat + s.comma + m.latlng.lng);
  $(".location").text(s.loc);
  $(".landscape").text(s.landscape);
  $(".substrate").text(s.substrate);
  $(".isolated_by").text(s.isolated_by);
}

function set_panel_content(m) {
  // Propogates side panel with strain information
  click_s.target.setIcon(icon_norm)
  s = m.target.options;
  m.target.setIcon(icon_hover)
  strain = s.strain;
  loc = s.loc;
  isolation_date = s.isolation_date;
  isolated_by = s.isolated_by;
  comma = s.comma;
  latlng = m.latlng.lat + comma + m.latlng;
  $(".strain").text(s.strain);
  $(".isotype").html("<strong><a href='/strain/" + s.isotype + "/'>" + s.isotype + "</a></strong>");
  $(".isolation_date").text(s.isolation_date);
  $(".comma").text(s.comma)
  $(".latlng").text(m.latlng.lat + s.comma + m.latlng.lng);
  $(".location").text(s.loc);
  $(".landscape").text(s.landscape);
  $(".substrate").text(s.substrate);
  $(".isolated_by").text(s.isolated_by);
}

function set_click_locked_content(m) {
  // Propogates side panel with click-locked content.
  click_s.target.setIcon(icon_norm)
  click_s = m;
  set_panel_content(click_s)
}

function restore_click_locked_content(m) {
  // Propogates side panel with click-locked content.
  m.target.setIcon(icon_norm)
  click_s.target.setIcon(icon_norm)
  set_panel_content(click_s)
}

  ACCESS_TOKEN = 'pk.eyJ1IjoianByNyIsImEiOiJjaWhxbTRvdmswMDFzdGRtMDd0cGN6cG9lIn0.YzgwcnxBn6_DauMzz5fiQg';
  MB_ATTR = 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    'Imagery © <a href="http://mapbox.com">Mapbox</a>';
  MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
  OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
  OSM_ATTRIB = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

  var southWest = L.latLng(-90, -180),
    northEast = L.latLng(90, 180),
    bounds = L.latLngBounds(southWest, northEast);

  var map = L.map('map', {minZoom:2, maxBounds: bounds}).setView([20, -100], 2);
  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets', continuousWorld: false, worldCopyJump: true}).addTo(map);
  strain_info = [];
  strain_names = [];
  markers = [];

 data = {{ strain_listing|safe }}
 strain_info = data;
 data.forEach(function(d) {
  strain_names.push(d.strain);
   m = L.marker([d.latitude, d.longitude], { icon: icon_norm, 
                                         strain: d.strain,
                                         title: d.strain,
                                         isotype: d.isotype,
                                         isolation_date : d.isolation_date,
                                         loc : d.location,
                                         landscape: d.landscape,
                                         substrate: d.substrate,
                                         comma: ",  ",
                                         isolated_by: d.isolated_by }).addTo(map)
                                        .on("click", set_click_locked_content)
                                        .on('mouseover', set_panel_content)
                                        .on('mouseout', restore_click_locked_content)
  markers.push(m);
 });
var strain_layer = L.layerGroup(markers);
var search_control = new L.Control.Search({layer: strain_layer,
                                      initial: false,
                                      collapsed: false,
                                      position:'topright',
                                      tooltipLimit: 4,
                                      textPlaceholder :'Enter strain name',
                                      zoom: 5,
                                      animateLocation: false,
                                      markerLocation: false,
                                      markerIcon: icon_hover });
search_control.on('search_locationfound', set_panel_from_search);
map.addControl(search_control);
$('.search-input').width(100);


$(document).ready(function() {

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

});



</script>

{% endblock %}
