{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-12">
    <h4>News & Updates</h4>
      <ul class="list-group">
        {% for f in files %}

        <li class="list-group-item">
            <h4 class="list-group-item-heading"><small class="pull-right">{{ f[:10] }}</small><a href="news/{{ f }}">{{ f[11:].strip(".md").replace("-", " ") }}</a></h4>
          </a>

        </li>

        {% endfor %}

      </ul>
      </div>
  </div>
{% endblock %}