{% extends "_layouts/default.html" %} {% block custom_head %}
<style>

#checkout.affix {
    position: fixed;
    top: 20px;
    width: 228px;
}
.price {
    text-align: right;
}
</style>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width 200px;">Reference Strain</th>
                    <th style="width 200px;">Isotype</th>
                    <th>Strain</th>
                    <th class="price">Price</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for isotype, strains in strain_listing|groupby('isotype') %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{% for ref_strain in strains %}
                            {% if ref_strain["reference_strain"] == True %}
                                {{ ref_strain }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td><strong>{{ isotype }}</strong></td>
                    <td>{{ strains|join(" ") }}</td>
                    <td class="price">${{'%0.2f'| format(1000/100|float)}}</td>
                </tr>
                {% endfor %}
                {% if price_adjustment > 0 %}
                <tr  style="color:red">
                <td>Bulk Discount</td>
                <td></td>
                <td></td>
                <td>{{ ', '.join(added_sets).replace("_", " ") }}</td>
                <td class="price"><strong>${{'%0.2f'| format(price_adjustment/100|float)}}</strong></td>
                </tr>
                {% endif %}
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="price"><strong>${{'%0.2f'| format(total/100|float)}}</strong></td>
                </tr>
            </tbody>
        </table>
<div class="pull-right">
<form action="/order" method="POST">
{% for isotype, strains in strain_listing|groupby('isotype') %}
<input type="hidden" name="isotype" value="{{ isotype }}">
{% endfor %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-name="CeNDR Resource"
    data-description="{{ n_strains }} strain(s)"
    data-shipping-address="true"
    data-billing-address="false"
    data-amount="{{ total }}"
    data-locale="auto">
  </script>
</form>
</div>
    </div>
    </div>
{% endblock %} {% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {

            var rex = new RegExpz($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

$("#checkAll").click(function() {
    $('input:checkbox:visible').not(this).prop('checked', this.checked);
});


$("button[id^='set']").click(function () {
    $.each(window[$(this).attr('id')], 
        function(index,strain) {
            $('td').filter(function() {
                if ($(this).text() === strain){
                    $(this).prev().children().prop('checked', true);
                    //pick the previous td element (this is where the checkbox is)
                }
        })
    })
})

$("button[id^='checkout']").click(function() {
    checkedValues = $('input:checkbox:checked').map(function() {
        return $(this).next();
    }).get();
    console.log(checkedValues);
});


</script>
{% endblock %}
