{% extends "_layouts/default.html" %} {% block custom_head %}
<style>

#checkout.affix {
    position: fixed;
    top: 20px;
    width: 228px;
}
.price {
    text-align: right;
}
</style>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width 200px;">Strain/Set</th>
                    <th class="price">Price</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for item, price in items.items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item }}</td>
                    <td class="price">${{'%0.2f'| format(price/100|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td class="price"><strong>${{'%0.2f'| format(total/100|float)}}</strong></td>
                </tr>
            </tbody>
        </table>
<div class="pull-right">
<form action="/order" class="form-inline" method="POST">
{% for item, price in items.items() %}
<input type="hidden" name="item" value="{{ item }}">
{% endfor %}

  <div class="form-group">
    <label for="shipping-service">Shipping Method</label>
    <select name="shipping-service" id="shipping-service" class="form-control" required>
        <option>FEDEX</option>
        <option>UPS</option>
    </select>
  </div>
  <div class="form-group">
    <label for="acct" placeholder="Enter Account Number" required>Account Number</label>
    <input id="acct" class="form-control" required name="shipping-account-number" placeholder="Enter Account Number" required>
  </div>

  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ key }}"
    data-name="CeNDR Resource"
    data-description="{{ items|length }} strain/sets"
    data-shipping-address="true"
    data-billing-address="false"
    data-amount="{{ total }}"
    data-locale="auto">
  </script>
</form>

</div>
    </div>
    </div>
{% endblock %} {% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {

            var rex = new RegExpz($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

    if ( $(this).val().length == 0 ) {
        $(".stripe-button-el").addClass("disabled");
    }

});

$("#acct").keyup(function() {
    if ( $(this).val().length == 0 ) {
        $(".stripe-button-el").addClass("disabled");
    } else {
        $(".stripe-button-el").removeClass("disabled");
    }
})

$("#checkAll").click(function() {
    $('input:checkbox:visible').not(this).prop('checked', this.checked);
});


$("button[id^='set']").click(function () {
    $.each(window[$(this).attr('id')], 
        function(index,strain) {
            $('td').filter(function() {
                if ($(this).text() === strain){
                    $(this).prev().children().prop('checked', true);
                    //pick the previous td element (this is where the checkbox is)
                }
        })
    })
})

$("button[id^='checkout']").click(function() {
    checkedValues = $('input:checkbox:checked').map(function() {
        return $(this).next();
    }).get();
    console.log(checkedValues);
});


</script>
{% endblock %}
