{% extends "_layouts/default.html" %} {% block custom_head %}
<style>

#checkout.affix {
    position: fixed;
    top: 20px;
    width: 228px;
}
.price {
    text-align: right;
}

</style>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">

        <table class="table table-hover table-striped" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width 200px;">Strain/Set</th>
                    <th class="price">Price</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for item, price in items.items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item }}</td>
                    <td class="price">${{'%0.2f'| format(price|float)}}</td>
                </tr>
                {% endfor %}
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td class="price"><strong>${{'%0.2f'| format(total|float)}}</strong></td> 
                </tr>
            </tbody>
        </table>
<div class ="well well-sm">
  <p> If you are ordering a ready-made set, the strains will be sent as frozen stocks on dry-ice. Please select a carrier from the drop-down menu and enter an account number. If you are ordering a customized set of strains, these strains will be sent on plates. </p>
</div> 

<form class="form-horizontal" method="POST">
{% for item, price in items.items() %}
    <input type="hidden" name="item"  id="{{ item }}" value="{{ item }}"/>
{% endfor %}
<div class="row">
<div class="col-lg-6">
  <div class="form-group {% if 'name' in missing_fields %}has-warning{% endif %}">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name" placeholder="" value="{{ request.form['name'] }}">
    </div>
  </div>
  </div>

<div class="col-lg-6">
  <div class="form-group {% if 'email' in missing_fields %}has-warning{% endif %}">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="email" name="email" placeholder="" value="{{ request.form['email'] }}">
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
  <div class="form-group {% if 'phone' in missing_fields %}has-warning{% endif %}">
    <label for="phone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="phone" name="phone"  placeholder="(111)-111-1111" value="{{ request.form['phone'] }}">
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="form-group {% if 'shipping_account' in missing_fields %}has-warning{% endif %}">
    <label for="shipping_service" class="col-sm-2 control-label">Shipping</label>
    <div class="col-sm-4">
      <select onchange="flatRate()" class="form-control" id="shipping_service" name="shipping_service">
          <option>UPS</option>
          <option>FEDEX</option>
          <option>$65 Flat Fee</option> 
      </select>
    </div>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="shipping_account" name="shipping_account" placeholder="Account Number" value="{{ request.form['shipping_account'] }}">
    </div>
  
    <script type="text/javascript">
    function flatRate() {
      if ($("select[name='shipping_service'] option:selected").index() == 2)  {//flat rate is the third element of the dropdown)
        $('#shipping_account').prop('disabled', true);
      }
      else {
        $('#shipping_account').prop('disabled', false);
      }
  }

    </script>

  </div>
  <div class='col-sm-offset-2' id="helpBlock" class="help-block">Select a shipping service and provide an account number or select flat $65 shipping fee.</span>
</div>

</div>


<div class="col-lg-6">
  <div class="form-group {% if 'address' in missing_fields %}has-warning{% endif %}">
    <label for="address" class="col-sm-2 control-label">Shipping Address</label>
    <div class="col-sm-10">
      <textarea class="form-control" style="display:block; width: 100%" rows="3" id="address" name="address" placeholder="123 Sheridan Rd.
Chicago, IL. 60657" value="{{ request.form['address'] }}"></textarea>
    </div>
  </div>

</div>

</div>


<div class='row'
  <div class="form-group">
    <div class="col-sm-4 col-sm-offset-4">
    <br />
    <br />
      <button type="submit" class="btn btn-block btn-primary">Submit</button>
      <br />
      <div  id="helpBlock" class="help-block"><strong>Note: </strong>You will still need to send a check to complete your order.</span>
    </div>
  </div>
</form>
</div>

</div>
</div>
{% endblock %} {% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {

            var rex = new RegExpz($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

    if ( $(this).val().length == 0 ) {
        $(".stripe-button-el").addClass("disabled");
    }

});

$("#acct").keyup(function() {
    if ( $(this).val().length == 0 ) {
        $(".stripe-button-el").addClass("disabled");
    } else {
        $(".stripe-button-el").removeClass("disabled");
    }
})

$("#checkAll").click(function() {
    $('input:checkbox:visible').not(this).prop('checked', this.checked);
});


$("button[id^='set']").click(function () {
    $.each(window[$(this).attr('id')], 
        function(index,strain) {
            $('td').filter(function() {
                if ($(this).text() === strain){
                    $(this).prev().children().prop('checked', true);
                    //pick the previous td element (this is where the checkbox is)
                }
        })
    })
})

$("button[id^='checkout']").click(function() {
    checkedValues = $('input:checkbox:checked').map(function() {
        return $(this).next();
    }).get();
    console.log(checkedValues);
});


</script>
{% endblock %}
