{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
      <div class="panel panel-default">
        <div class="panel-body text-center">
        <img src="/static/img/logo.png" alt="Andersen Lab Logo" style="margin-right:0px; width: 135px; margin-bottom:6px;"/>
        </div>
      </div>


<div class='text-left'><small>

        <address class='text-left'>
        <strong><em>C. elegans</em> Natural Diversity Resource</strong><br />
        Department of Molecular Biosciences<br />
        Northwestern University<br />
        2145 Tech Drive, Tech MG90<br />
        Evanston, IL. 60208-3500
        </address>
      </small>
      </div>

      <form>
<input type="button" class='btn btn-primary btn-block hidden-print' value="Print Invoice" onClick="window.print()">
</form>


      </div>



<div class='col lg-9 col-md-9 col-sm-9 col-xs-9'>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">{{ page_title }}</h3>
  </div>

<table class='table table-bordered'>
  <tr>
  {% if order['is_donation'] == "FALSE" %}
  <th>Shipping Service</th>
  <th>Tracking</th>
  {% endif %}
  <th>Order ID</th>
  <th>Order Date</th>
  </tr>
  <tr>
  {% if order['is_donation'] == "FALSE" %}
  <td>{{ order["shipping_service"] }}</td>
  <td>
  {% if order['tracking'] and order['shipping_service'] == "UPS" %}
      <a href="http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums={{ order['tracking'] }}">{{ order['tracking'] }}</a>
  {% elif order['tracking'] and order['shipping_service'] == "FEDEX" %}
      <a href="http://www.fedex.com/Tracking?action=track&tracknumbers={{ order['tracking'] }}">{{ order['tracking'] }}</a>
  {% else %}
      Not yet assigned
  {% endif %}
  </td>
  {% endif %}
  <td>{{ order["order_number"] }}</td>
  <td>{{ order['date'] }}</td>
  </tr>
  </table>


   <ul class="list-group">
    <li class="list-group-item">
      <h4 class="list-group-item-heading">Address</h4>
      <p class="list-group-item-text">{{ order['name'] }}<br />{{ order['address'].replace("\n", "<br />")|safe }}</p>
      <br />
    </li>

  </ul>

  </div>




<div class="row">
    <div class="col-md-12">
	 <table class="table table-hover table-striped" style="table-layout: fixed">
            <thead>
                <tr>
                    <th style="width: 40px">#</th>
                    <th style="width 200px;">Item</th>
                    <th class="price text-right">Price</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for k, v in order["items"].items() %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ k }}</td>
                    <td class="price text-right">${{'%0.2f'| format(v)}}</td>
                </tr>
                {% endfor %}
                <tr>
                <td><strong>Total</strong></td>
                <td></td>
                <td class="price text-right"><strong>{{ order["total"] }}</strong></td>
                </tr>
            </tbody>
        </table>
        <div class='hidden-print'>
        <h3>To complete your order</h3>

        <ol>
            <li>Print this page out.</li>
            <li>Make a check payable to Northwestern University</li>
            <li>Mail the check and this printed page to the address below.</li>
        </ol>
        </div>
        <br />
        <p class='visible-print'>Mail a check payable to Northwestern University and a copy of your invoice to the address below.</p>
        <p><strong>Erik C. Andersen, Ph.D.</strong><br />
        Dept. of Molecular Biosciences<br />
        Northwestern University<br />
        2205 Tech Drive<br />
        Evanston, IL. 60208-3500</p>
        <p class='hidden-print'>Please contact us if you have any questions (<a href='mailto:erik.andersen@northwestern.edu'>erik.andersen@northwestern.edu</a>; 847-467-4382).</p>


      </div>
  </div>
</div>
</div>
{% endblock %}
