{% extends "_layouts/default.html" %} 
{% block custom_head %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <link rel="stylesheet" href="/static/css/cal-heatmap.css" />
  <script src="/static/js/cal-heatmap.min.js"></script>
  <style>
  .point:hover {
  	fill: green;
  }
  </style>

{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">
{% if search %}

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Report Name</th>
			<th>Trait Name</th>
			<th>CHROM:POS
			<th>-log<sub>10</sub>p</th>
		</tr>
	</thead>
	<tbody>
	{% for i in search_results %}
		<tr>
			<td><a href = "{{ url_for('trait_view', report_slug = i.report_slug, trait_slug = i.trait_slug) }}">{{ i.report_name }}</a></td>
			<td><a href = "{{ url_for('trait_view', report_slug = i.report_slug, trait_slug = i.trait_slug) }}">{{ i.trait_name }}</a></td>
			<td>{% if i.log10p %}{{ i.chrom }}:{{ i.pos }}{% endif %}</td>
			<td>{% if i.log10p %}{{ i.log10p }}{% else %}-{% endif %}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% else %}
	<div id="container" style="min-width: 310px; height: 310px; max-width: 100%; margin: 0 auto"></div>
<p><strong>Cumulative Manhattan Plot</strong> - Significant genome-wide association mappings are plotted against their -log<sub>10</sub>p association value by genomic position.</p>
<br></br>
<h3>2016</h3>
<div id="archive_date"></div>
<br></br>
<h3 id="mappings">Recent Mappings</h3>

<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th>Report Name</th>
			<th>Trait Name</th>
			<th>CHROM:POS
			<th>-log<sub>10</sub>p</th>
      <th>Date</th>
		</tr>
	</thead>
	<tbody>
	{% for i in dates %}
		<tr >
			<td><a href = "{{ url_for('trait_view', report_slug = i.report_slug, trait_slug = i.trait_slug) }}">{{ i.report_name }}</a></td>
			<td><a href = "{{ url_for('trait_view', report_slug = i.report_slug, trait_slug = i.trait_slug) }}">{{ i.trait_name }}</a></td>
			<td>{% if i.log10p %}{{ i.chrom }}:{{ i.pos }}{% endif %}</td>
			<td>{% if i.log10p %}{{ i.log10p }}{% else %}-{% endif %}</td>
      <td>{{ i["submission_complete"].date() }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>



{% endif %}

    </div>

</div>
{% endblock %} 

{% block title_right %}

<form class="form-inline pull-right" action ="" method="get" name="login">
  <div class="form-group">
    <input type="search" class="form-control" name="query" placeholder="Find Mappings" value="{% if query %}{{ query }}{% endif %}">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>


{% endblock %}
{% block script %}
<script>

{% if not query %}

{% for chrom in pub_mappings|groupby('chrom') %}
var c{{ chrom[0] }} = {
	name: "{{ chrom[0] }}",
	text: [{% for marker in chrom[1] %} "{{ marker['report_slug'] }}/{{ marker['trait_slug'] }}",{% endfor %}],
	x: [{% for marker in chrom[1] %} {{ marker["pos"] }},{% endfor %}],
	y: [{% for marker in chrom[1] %} {{ marker["log10p"] }},{%endfor%}],
	mode: 'markers',
	type: 'scatter',
	xaxis: 'x{{ loop.index  }}',
	yaxis: 'y',
	marker: {
  		size: 500/{{ pub_mappings|length }} + 5
  	},
}

var bf{{ chrom[0] }} = {
	line: { width: 0.5,
			color: "blue" },
	y: [5.0, 5.0],
	x: [-1000000,1000000000],
	xaxis: 'x{{ loop.index  }}',
	yaxis: 'y',
	hoverinfo: "none"
}

{% endfor %}



var data = [{% for chrom in pub_mappings|groupby('chrom') %}c{{ chrom[0] }},bf{{chrom[0]}},{% endfor %}];

var layout = {
	margin: {
		t: 10,
		l: 40,
		r: 3
	},
  showlegend: false,
  hovermode: 'closest',
  xaxis: {
  	domain: [0, 0.137367182],
  	title: "I",
  	range: [ 0, 15072434 ],
  	fixedrange: true,
  	anchor: "x1"
  },
  xaxis2: {
  	domain: [0.169390948, 0.28675813],
  	title: "II",
  	range: [ 0, 15279421 ],
  	fixedrange: true,
  	anchor: "x2"
  },
  xaxis3: {
  	domain: [0.31675813, 0.421526005],
    title: "III",
    range: [ 0, 13783801 ],
    fixedrange: true,
    anchor: "x3"
  },
  xaxis4: {
  	domain: [0.441526005, 0.592567807],
    title: "IV",
    range: [ 0, 17493829 ],
    fixedrange: true,
    anchor: "x4"
  },
  xaxis5: {
  	domain: [0.612567807, 0.79714906],
    title: "V",
    range: [ 0 , 20924180 ],
    fixedrange: true,
    anchor: "x5"
  },
  xaxis6: {
  	domain: [0.81714906, 1.00],
    title: "X",
    range: [0, 17718942 ],
    fixedrange: true,
    anchor: "x6",
  },
  yaxis: {
	range: [0, 20],
	anchor: "y",
	fixedrange: true,
	title: "-log<sub>10</sub>p"
  }
};


Plotly.newPlot('container', data, layout, {displayModeBar: false});

manhattan = document.getElementById('container')

manhattan.on("plotly_click", function(data) { 
	point_number = data.points[0].pointNumber;
	window.location.href = "/report/" + data.points[0].data.text[point_number];
})

// Calendar Script
var cal = new CalHeatMap();
cal.init({
  itemSelector: "#archive_date",
  domain: "month",
  subDomainTextFormat: "%d",
  subDomain: "x_day",
  data: {{ date_set|tojson|safe }},
  start: new Date(2016, 3,1),
  cellSize: 20,
  cellPadding: 5,
  domainGutter: 20,
  range: 5,
  label: {height: 50},
  domainLabelFormat: function(date) {
    moment.locale("en");
    return moment(date).format("MMMM").toUpperCase();
  },
  legendColors: {
    min:  "#FFCC66",
    max: "#FF0000",
    empty: "white"
    // Will use the CSS for the missing keys
  },
  cellRadius: 3,
  displayLegend: false,
  domainDynamicDimension: false,
  previousSelector: "#example-g-PreviousDomain-selector",
  nextSelector: "#example-g-NextDomain-selector",
  subDomainTextFormat: "%d",
  legend: [1, 8, 12, 20],
  onClick: function(x) {
            $("#mappings").text("Archived Mappings");
            date = x.toISOString().split("T")[0];
            $.ajax({
              url: "/api/report/date/" + date,
              success: function (data) {
                $("tbody tr").remove();
                console.log(data);
                $.each(data, function(index,value){
                  updateTable(value);
                });
              }

            })
        }
});

http://localhost:8080/Genetic-Mapping/public/%7B%7B
function updateTable(data) {
      var log10p = data['log10p'];
      var chrom = data['chrom'];
      var pos = data['pos'];
      var td3 = (log10p) ? (chrom + ":" + pos) : ""; 
      var td4 = (log10p) ? (log10p) : "--"; 
      var date = data['submission_complete'].substring(0,10);
      var link = window.location.origin+"/report/" + data['report_slug'] + "/" + data['trait_slug'];
      console.log(link);
      var $newRow = 
      $("<tr><td><a href =" + link + ">" +
            data['report_name'] + 
          "</a></td><td>"+
          "<a href =" + link + ">" +
            data['trait_name'] + 
        "</a></td><td>"+
          td3 +
        "</td><td>" +
          td4 +
        "</td><td>" +
          date + 
        "</td></tr>"); 

    console.log($newRow);
   $($newRow).appendTo($("tbody"));
}

$("body").ready(function () {

setTimeout(function() {
  $("g").map(function() {
    title_text = $(this).children("title").text();
    var re = /^[0-9]+.*/
    if (re.test(title_text)) {
      items = title_text.split(" ")[0] + " report(s)";
      $(this).attr("data-toggle", "tooltip");
      $(this).attr("data-placement", "bottom");
      $(this).attr("data-title", items);
      $(this).tooltip({"container":"body"})
    }
  });
}, 2000);

});

{% endif %}

</script>
{% endblock %}

