{% extends "_layouts/default.html" %}


{% block custom_head %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="/static/report/jquery-1.11.3/jquery.min.js"></script>
<script src="/static/report/jqueryui-1.11.4/jquery-ui.min.js"></script>
<link href="/static/report/tocify-1.9.1/jquery.tocify.css" rel="stylesheet" />
<script src="/static/report/tocify-1.9.1/jquery.tocify.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/static/report/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<script src="/static/report/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="/static/report/bootstrap-3.3.5/shim/html5shiv.min.js"></script>
<script src="/static/report/bootstrap-3.3.5/shim/respond.min.js"></script>
<script src="/static/report/htmlwidgets-0.6/htmlwidgets.js"></script>
<script src="/static/report/datatables-binding-0.1/datatables.js"></script>
<script src="/static/report/datatables-1.10.7/jquery.dataTables.min.js"></script>
<link href="/static/report/datatables-default-1.10.7/dataTables.extra.css" rel="stylesheet" />
<link href="/static/report/datatables-default-1.10.7/jquery.dataTables.min.css" rel="stylesheet" />
<link href="/static/report/datatables-responsive-1.10.7/dataTables.responsive.min.css" rel="stylesheet" />
<script src="/static/report/datatables-responsive-1.10.7/dataTables.responsive.min.js"></script>
<link href="/static/report/nouislider-7.0.10/jquery.nouislider.min.css" rel="stylesheet" />
<script src="/static/report/nouislider-7.0.10/jquery.nouislider.min.js"></script>
<link href="/static/report/selectize-0.12.0/selectize.bootstrap3.css" rel="stylesheet" />
<script src="/static/report/selectize-0.12.0/selectize.min.js"></script>

{% endblock %}


{% block style %}
{% endblock %}

{% block content %}
<!-- tabsets -->
<script src="/static/report/navigation-1.0/tabsets.js"></script>


<div class="row">
      <div class="col-md-12">

      <div class="btn-group" role="group">
        {% for trait in report_data %} 

          <a href="{{ url_for('trait_view', report_slug = report_url_slug, trait_slug = trait.trait_slug) }}" type="button" class="btnbtn-secondary btn-sm {% if trait.trait_slug == trait_slug %} btn-primary {% endif %}">{{ trait.trait_name }}</a>     
          
        {% endfor %}

        </div>
        <hr />
      </div>
</div>

<div class="row">

<div class="col-md-12">

{% if trait_slug and report_html == "" %}
<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
  </div>
</div>
{% else %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ trait_data["trait_name"] }}</h3>
  </div>
  <div class="panel-body">
  <div class="row">
  <div class='col-md-6'>
  <strong>Data</strong>
    <ul>
      {% if 'raw_phenotype.tsv' in report_files %}
      <li><strong><a href="https://storage.googleapis.com/cendr/{{ report_slug }}/{{ trait_slug }}/tables/raw_phenotype.tsv">Raw Phenotype Data</a></strong></li>
      {% endif %}

      {% if 'processed_phenotype.tsv' in report_files %}
      <li><strong><a href="https://storage.googleapis.com/cendr/{{ report_slug }}/{{ trait_slug }}/tables/processed_phenotype.tsv">Processed Phenotype Data</a></strong></li>
      {% endif %}

      {% if 'interval_variants.tsv' in report_files %}
      <li><strong><a href="https://storage.googleapis.com/cendr/{{ report_slug }}/{{ trait_slug }}/tables/interval_variants.tsv">Interval Variants</a></strong></li>
      {% endif %}

      {% if 'raw_mapping.tsv' in report_files %}
      <li><strong><a href="https://storage.googleapis.com/cendr/{{ report_slug }}/{{ trait_slug }}/tables/raw_mapping.tsv">Raw Mappings</a></strong></li>
      {% endif %}

      {% if 'processed_sig_mapping.tsv' in report_files %}
      <li><strong><a href="https://storage.googleapis.com/cendr/{{ report_slug }}/{{ trait_slug }}/tables/processed_sig_mapping.tsv">Processed Significant Mappings</a></strong></li>
      {% endif %}

      {% if 'non_sig_mapping.tsv' in report_files %}
      <li><strong><a href="https://storage.googleapis.com/cendr/{{ report_slug }}/{{ trait_slug }}/tables/non_sig_mapping.tsv">Nonsignificant Mappings</a></strong></li>
      {% endif %}
    </ul>
    </div>
    <div class='col-md-6'>
    <strong>Info</strong>
    <ul>
      <li><strong>Version</strong>: {{ trait_data.version }}</li>
      <li><strong>Availibility</strong>: {% if trait_data.release == 0 %}
                                            Public
                                         {% elif trait_data.release == 1 %}
                                            Embargo
                                         {% else %}
                                            Private
                                         {% endif %}</li>
    </ul>
    </div>
    </div>
  </div>
</div>

{% endif %}

  </div>
</div>


<div id="report">
            {{ report_html|safe }}
</div>
<style>

#TOC {
  width: 100%;
}

div.tocify {
  width: 100%;
  max-width: 240px;
  max-height: 85%;
}

@media (min-width: 768px) and (max-width: 991px) {
  div.tocify {
    width: 25%;
  }
}

@media (max-width: 767px) {
  div.tocify {
    width: 100%;
    max-width: none;
  }
}

#report .main-container {
  padding: 0px;
}

</style>


{% endblock %}


{% block script %}
<script>

// add bootstrap table styles to pandoc tables
$(document).ready(function () {
  $('tr.header').parent('thead').parent('table').addClass('table table-condensed');
});

  (function () {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src  = "https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
    document.getElementsByTagName("head")[0].appendChild(script);
  })();

{% if trait_slug and report_html == "" %}
prog = Array()
prog["queue"] = ""
prog["Processing Phenotype Data"] = "10%"
prog["Performing Mapping"] = "20%"
prog["Processing Mapping"] = "60%"
prog["Plotting Figures"] = "75%"
prog["Processing Peaks"] = "80%"
prog["Transferring Data"] = "95%"
prog["complete"] = "100%"
prog["error"] = "100%"


var update_status = function(status) {
  if (status == "complete") {
    $(".progress").fadeOut();
    location.reload();
  } else if (status == "error") {
    $(".progress-bar").addClass("progress-bar-danger").html("error");
  } else if (status == "queue") {
    $(".progress-bar").css("width", "100%").addClass("progress-bar-info").html("Queued")
  } else {
    $(".progress-bar").removeClass("progress-bar-info").css("width", prog[status]).html(prog[status] + " (" + status + ")");
  }
}

function check_status() {
  $.ajax({
     url:"/report_progress/",
     data: JSON.stringify({
            "report_slug": "{{ report_slug }}",
            "trait_slug": "{{ trait_slug }}" }),
     method: "POST",
     contentType: 'application/json;charset=UTF-8'
     }
     ).done(function(msg) {
      msg = JSON.parse(msg);
      update_status(msg);
    });
}

check_status();

window.setInterval(check_status, 3000);
{% endif %}

</script>
{% endblock %}
