{% extends "_layouts/default.html" %}


{% block custom_head %}
  <link rel="stylesheet" href="/static/css/leaflet.css" />
  <link rel="stylesheet" href="/static/css/leaflet-search.css" />
  <script src="/static/js/leaflet.js"></script>
  <script src="/static/js/leaflet-search.js"></script>
{% endblock %}


{% block style %}
.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 5px;
}

.nav-tabs {
    margin-bottom: 0;
}
{% endblock %}

{% block content %}

<div class="row">
      <div class="col-md-8">
          <h2>{{ obj }}<small>&nbsp;&nbsp;isotype</small></h2>
          <ol class="breadcrumb">
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('strain_listing_page') }}">strain</a></li>
            <li class="active" data-toggle="tooltip"  data-placement="bottom" title="{{ page_type }}">{{ obj }}</li>
          </ol>

<div class="row">
<div class="col-md-6">

<h4>Strains</h4>
<ul>
{% for i in rec %}
{% if i.reference_strain %}
  <li><strong><abbr data-toggle="tooltip"  data-placement="bottom" title="reference strain">{{ i.strain }}</abbr></strong></li>
{% else %}
  <li>{{ i.strain }}</li>
{% endif %}
{% endfor %}
</ul>
<br />
{% if rec[0].previous_names %}
<h4>Alternative Names</h4>
<ul>
{% for i in rec[0].previous_names.split("|") %}
  <li>{{ i }}</li>
{% endfor %}
</ul>
{% endif %}


</div>
<div class="col-md-6">
<h4>Data</h4>
{% if ref_strain.bam_file -%}
  <li><a href = "{{ ref_strain.bam_file }}">{{ obj }}.bam</a> <strong> / </strong> <a href="{{ ref_strain.bam_index }}">.bai</a> </li>
  {% endif %}
{% if ref_strain.cram_file -%}
  <li><a href = "{{ ref_strain.cram_file }}">{{ obj }}.cram</a> <strong> / </strong> <a href="{{ ref_strain.cram_index }}">.crai</a> </li>
{% endif %}
{% if ref_strain.variant_file %}
  <li><a href = "#">{{ obj }}.variants.tsv</a></li>
{% endif %}
</div>
</div>

      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><img src = "/static/img/icons/selected.png" width="20px;" /><strong>{{ page_type }} Information</strong></div>
              <ul class="list-group">
                <li class="list-group-item" style="padding:0px;">
                {% if rec[0].latitude %}
                  <div id="map" style="height: 200px; width:100%"></div>
                {% else %}
                  <div style="height: 200px; background-color: #73AFE4; width:100%; text-align: center; line-height: 195px; "><strong>No Location</strong></div>
                {% endif %}
                
                </li>
                                <li class="list-group-item">
                <strong>
                <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                           Isotype
                </span>
                </strong> 
                        <div class="isotype pull-right"> {{ ref_strain["isotype"] }}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name of strain we distribute as a representative of an isotype.">
                            Reference Strain
                            </span></strong> 
                            <div class="strain pull-right">{{ ref_strain["strain"]}}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Isolation Date</strong> <div class="strain pull-right">{{ ref_strain["isolation_date"] }}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Lat/Lon</strong> <div class="lat pull-right">{{ ref_strain["latitude"] }}, {{ ref_strain["longitude"] }}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Location</strong> <div class="location pull-right">{{ ref_strain["location"] }}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Landscape</strong> <div class="location pull-right">{{ ref_strain["landscape"] }}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Substrate</strong> <div class="location pull-right">{{ ref_strain["substrate"] }}</div><div style="clear:both;"></div></li>
                <li class="list-group-item"><strong>Isolated By</strong> <div class="location pull-right">{{ ref_strain["isolated_by"] }}</div><div style="clear:both;"></div></li>
              </ul>
        </div>
      </div>
</div>




{% endblock %}


{% block script %}
<script>

$( document ).ready( function() {
  $('[data-toggle="tooltip"]').tooltip();
});


var icon_norm = L.icon({
    iconUrl: '/static/img/icons/selected.png',
    iconSize: [48, 48],
    iconAnchor: [24, 48],
    popupAnchor: [-3, -76],
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});



   ACCESS_TOKEN = 'pk.eyJ1IjoianByNyIsImEiOiJjaWhxbTRvdmswMDFzdGRtMDd0cGN6cG9lIn0.YzgwcnxBn6_DauMzz5fiQg';
    MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    OSM_ATTRIB = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

  data = {{ strain_json_output|safe }}
  view_set = false;

  var map = L.map('map', {"dragging": false,
                          "boxZoom": false,
                          "scrollWheelZoom": false,
                          "doubleClickZoom": true,
                          "tap":false,
                          "zoomControl": true});

  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(map);
  strain_info = [];
  strain_names = [];
  markers = [];

  data.forEach(function(d) {
    m = L.marker([d.latitude, d.longitude], { icon: icon_norm, 
                                           strain: d.strain,
                                           isotype: d.isotype,
                                           isolation : d.isolation,
                                           loc : d.location }).addTo(map);
    markers.push(m);
    if (view_set == false) {
    map.setView([d.latitude, d.longitude], 7);
    view_set = true;
    }
  });
  
  var strain_layer = L.layerGroup(markers);



</script>

{% endblock %}
