{% extends "_layouts/default.html" %} {% block custom_head %}
<style>
#checkout.affix {
    position: fixed;
    top: 20px;
    width: 136px;
}
</style>
{% endblock %} 
{% block content %}
<form method="POST" action="/order">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                            <h3>Strain Sets</h3>
                </div>
                <div class="col-md-2">
                    <div id="checkout" style="z-index:1000000" data-offset-top="170" data-spy="affix">
                        <button type="submit" value="Checkout" class="btn btn-primary btn-block" id="checkoutBox">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Checkout
                        </button>
                    </div>
                </div>
            </div>
            <p>Pre-defined sets of strains can be ordered below.</p>
                <p>The <strong>divergent set</strong> includes 12 genotypically different strains and can be used to determine broad-sense heritability after repeated independent measures of your favorite phenotype. <strong>We recommend starting with the divergent set.</strong></p>
                 <p>Sets <strong>1-3</strong> each contain 48 strains that should be assayed for genetic mapping experiments. We recommend using a single set of 48 strains. After you have scored and optimized your quantitative trait, additional sets can be assayed to increase statistical power for association mapping.</p>

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width: 20px;">
                        
                        </th>
                        <th style="width:160px;">Set Name</th>
                        <th style="width:120px;">Number of Strains</th>
                        <th>Strains</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="checkbox" name="item" value="set_divergent"/>
                        </td>
                        <td><strong>Divergent Set</strong></td>
                        <td>12</td>
                        <td>
                        <small>
                            {% for isotype, strains in strain_listing|groupby('isotype') %}
                                {% for s in strains %} {% for set_name in s.list_sets() %} 
                                {% with f = "set_divergent" %}
                                    {% if set_name == f %}{{ s }}{% endif %}
                                {% endwith %}
                                {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </small>
                        </td>
                    </tr>
                    {% for i in range(1,4) %}
                    <tr>
                        <td>
                            <input type="checkbox" name="item" value="set_{{ i }}"/>
                        </td>
                        <td><strong>Mapping Set {{ i }}</strong></td>
                        <td>48</td>
                        <td>
                        <a class="btn btn-link btn-block" data-toggle="collapse" data-target="#view_set_{{ i }}">View Strains</a>
                        <div class="collapse" id="view_set_{{ i }}" >
                            {% for isotype, strains in strain_listing|groupby('isotype') %}
                                {% for s in strains %} 
                                    {% for set_name in s.list_sets() %} 
                                        {% with f = "set_" + i|string %}
                                            {% if set_name == f %}
                                                <li class="col-list">{{ s }}</li>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Individual Strains</h3>
 </div>
 <div class="col-md-12">
            <div class="row">
                <div class="col-md-7">
                            <p>Individual strains can be ordered below.</p>
                </div>
                <div class="col-md-1">
                    <button style = "margin-left: auto;" type="button" class="btn btn-link btn-block" data-toggle="modal" tooltip data-target="#myModal" data-placement="top" title="Paste a list of strains to select">Paste List</button>
                </div>
                <div class="col-md-4">
                    <input id="filter" type="text" class="form-control" placeholder="Enter Strain Name" action="#">
                </div>
            </div>
<br />
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th style="width: 20px;">
                            <input type="checkbox" id="checkAll" />
                        </th>
                        <th style="width: 200px;">
                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name of strain we distribute as a representative of an isotype.">
                            Reference Strain
                            </span>
                        </th>
                        <th style="width: 200px;">
                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                            Isotype
                            </span>
                        </th>
                        <th style="width: 200px;">
                        <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Individually isolated strains; If strains are assigned to the same isotype they are > 99.93% genetically identical">
                        Strains
                        </span></th>
                        <th><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Previous names assigned to a strain or alternative names">Alternative Names</span>
                            <!--<div class="pull-right"><a href="https://docs.google.com/spreadsheets/d/1V6YHzblaDph01sFDI8YK_fP0H7sVebHQTXypGdiQIjI/pub?output=tsv">Download Strain Information (.tsv)</a></div>-->
                        </th>
                    </tr>
                </thead>
                <tbody class="searchable">
                    {% for isotype, strains in strain_listing|groupby('isotype') %}
                    <tr>
                        <td>
                            <input type="checkbox" name="item" value="{{ isotype }}" info="{{ isotype + " " + strains|join(" ") }}" class="ind_strain" />
                        </td>
                        <td>
                            {% for s in strains %}
                                {% if s.reference_strain %}
                                    <strong>
                                    {{ s }}
                                    </strong>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td><a href="{{ url_for('isotype_page', isotype_name=isotype) }}">{{ isotype }}</a></td>
                        <td>{{ strains|join(", ") }}</td>
                        {% if strains[0].previous_names %}
                            <td>{{ strains[0].previous_names.replace("|", ", ")}}</td>
                        {% else %}
                            <td> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
<div class="modal fade" id="myModal" tabindex="-1" style="z-index:1000000"  role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <textarea style="width: 500px; height: 150px;" id="copyPasteStrains"  class="form-control" placeholder="Paste a tab, comma, or newline delimited list of strains here"></textarea>
            </div>
            <div id='alert-modal'></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submitPaste">Submit</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block script %}
<script>
$(document).ready(function() {

    (function($) {
        var patterns = [];
        $('#filter').keyup(function() {
            $('.searchable tr').hide();
            console.log($(this).val());
            $(this).val().split(',').forEach(function(r) {
                var rex = new RegExp(r, "i");
                $('.searchable tr').filter(function() {
                    return rex.test($(this).text());
                }).show();
            })  
        })

    }(jQuery));

});

highlight_set_buttons = function() {
    set_names = ["set_divergent", "set_1", "set_2", "set_3", "set_4"];
    for (i in set_names) {
        if ($("." + set_names[i] + ":checkbox:checked").length == $("." + set_names[i]).length) {
            $("#" + set_names[i]).addClass("btn-success");
        } else {
            $("#" + set_names[i]).removeClass("btn-success");
        }
    }
}


$('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));

$("#checkAll").click(function() {
    $('input:checkbox:visible.ind_strain').not(this).prop('checked', this.checked);
});

$("input:checkbox").click(function(x) {
    highlight_set_buttons();
    $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
    // console.log(test)
});

$("#submitPaste").click(function() {
    pastedStrains = $("#copyPasteStrains").val().split(/[\s,\n,\t]+/);
    lost_strains = [];
    for (i in pastedStrains) {
        upperCaseStrain = pastedStrains[i].toUpperCase(); // Just in case users submit lower case
        found_strain = $("[info~='" + upperCaseStrain + "']");

        if (found_strain.length > 0) {
            pasted = found_strain.prop("checked", true); // Use the word selector (~=)
        } else {
            lost_strains.push(pastedStrains[i])
        }
    }
    if (lost_strains.length > 0) {
        set_alert("warning", "The following strain(s) were not found", lost_strains.join(", "));
    }
    $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
    $('#myModal').modal('hide');
})



$("button[id^='set']").click(function() {
    set_name = $(this).attr("id");
    if ($("." + set_name).first().prop("checked") == false) {
        $("." + set_name).prop("checked", true);
    } else {
        $("." + set_name).prop("checked", false);
    }
    $('#checkoutBox').prop('disabled', !$("input:checkbox").is(":checked"));
    highlight_set_buttons();
})

$("button[id^='checkout']").click(function() {
    checkedValues = $('input:checkbox:checked').map(function() {
        return $(this).next();
    }).get();
    console.log(checkedValues);
});


$(document).ready(function() {
    $('#filter').keydown(function(event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
{% endblock %}
