{% extends "_layouts/default.html" %}
{% block content %}
{% from "macros.html" import render_field %}

  <div class="row">
    <div class="col-md-6">
      {{ render_markdown("donate.md") }}
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Donate</div>
        <div class="panel-body">
          <form id='form-submit' method="POST" action=".">
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ render_field(form.address, placeholder="123 Sheridan Rd. \nChicago, IL. 60657") }}
            {{ render_field(form.email, placeholder="Email") }}
            {{ render_field(form.total, form_prefix="$", form_suffix=".00") }}
            {{ form.recaptcha }}
          <br />
          <button id='donate_amount' type='submit' value="Checkout" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Donate</button>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}