{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
	{% for funder in funding_set %}
  <div class="col-md-4 text-center" style="height:260px;">
    <a href='{{ funder.url }}'>
      <figure class="figure" style="margin:30px;">
          <img src="{{ gs_static('img/funding/' + funder.image) }}" alt="{{ funder.name }}"/>
        <figcaption class="figure-caption small">{{ funder.description }}</figcaption>
      </figure>
    </a>
  </div>
    {% endfor %}
</div> {# /row #}
{% endblock %}