{% extends "_layouts/default.html" %}


{% block content %}
     
      {% for staff in staff_data %}
      <div class="row">
      <div class="col-md-12">
		<img src="{{ gs_static('img/people/' + staff.photo) }}" alt="{{ staff.first_name }}" class="thumbnail hidden-xs lab-member-photo" />
		<img src="{{ gs_static('img/people/' + staff.photo) }}" alt="{{ staff.first_name }}" class="thumbnail visible-xs lab-member-photo-small" />
		<h4 id="{{ staff.first_name }} {{ staff.last_name }}">{{ staff.first_name }} {{ staff.last_name }} <small>{{ staff.title }}</small></h4>
		{% if staff.cv %}
		<i class="glyphicon glyphicon-file"></i> <a class="btn btn-primary btn-xs" href="{{ staff.cv }}"><em>Curriculum Vitae</em></a><br />
		{% endif %}

		<!-- email -->
		{% if staff.email %}
		<span style="white-space:nowrap;"><i class="glyphicon glyphicon-envelope"></i> <a href="mailto:{{ staff.email }}">{{ staff.email }}</a></span><br />
		{% endif %}
		
		<!-- website -->
		{% if staff.website %}
		<i class="glyphicon glyphicon-home"></i> <a href="{{ staff.website }}">{{ staff.website }}</a><br />
		{% endif %}

		<!-- github -->
		{% if staff.github %}
		<img src="/static/img/icons/github.png" style="width:16px; "/> <a href="https://github.com/{{ staff.github }}">{{ staff.github }}</a><br />
		{% endif %}

      <br />
<p>{{ staff.description }}</p>



	</div>
</div>

      {% endfor %}


{% endblock %}

