<!DOCTYPE html>
<html lang='en-us'>
    <head>
      {% include "_includes/head.html" %}
      {% block custom_head %}{% endblock %}
      {% block style %}{% endblock %}
    </head>
    <body>
    {% include "_includes/navbar.html" %}

    <div class="page-content">
        <div class="wrap">
            <div class="container{% if fluid_container %}-fluid{% endif %}">
                <div class='content'>
                    <div>
                        <div>
                      
                            <div id="alert"></div>
                            {% if request.blueprint %}
                                {% if title %}
                                    <h2 class='page-title-txt'>{{ title }} {% if subtitle %} <small>{{ subtitle }}</small>{% endif %}</h2>
                                {% endif %}
                            {% endif %}
                            {% if warning %}
                                <div class="alert alert-warning">
                                    {{ warning }}
                                </div>
                            {% endif %}

                          {# BREADCRUMB #}
                          {% if request.blueprint and request.path != "/" %}

                          <ol class="breadcrumb">
                              <li><a href="/">Home</a></li>

                                {% if request.blueprint != "primary" %}
                                  {% if disable_parent_breadcrumb %}
                                  <li>{{ request.blueprint|title }}</li>
                                  {% else %}
                                  <li><a href='{{ url_for(request.blueprint + "." + request.blueprint) }}'>{{ request.blueprint|title }}</a></li>
                                  {% endif %}
                                {% endif %}
                                {% if title %}
                                  <li><strong>{{ title }}</strong></li>
                                {% endif %}
                                {% if subtitle %}
                                  <li><strong>{{ subtitle }}</strong></li>
                                {% endif %}
                            </ol>

                            {% endif %}
                        </div>
                    </div>
                <div id="feedback" class='hidden-print'>
                  <div id="feedback-tab" onclick= "window.open('https://goo.gl/forms/rfWz4AlCIP');">
                    Feedback
                  </div>
                </div>
                    {% block content %}{% endblock %}
                </div>
                    {% block script %}{% endblock %}

                <script type="text/javascript">
                    function set_alert(alert_type, title, text) {
                      $("#alert").hide().html("<div class='alert alert-dismissible alert-" + alert_type + "'><button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button><strong>" + title + "</strong> " + text + "</div>").fadeIn();
                    } 

                    $(document).ready(function () 
                        {
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                    );
                </script>
                
            </div>
        </div><!-- closes wrap-->
    </div><!-- closes page-content-->
    {% if config.DEBUG %}{{ session }}{% endif %}
    {% include "_includes/footer.html" %} 
    </body>
</html>