{% extends "_layouts/default.html" %}

{% block style %}{% endblock %}

{% block content %}
  
  <p>This tool will calculate the broad-sense heritability for your trait of interest using a set of <i>C. elegans</i> wild
	isolates. The broad-sense heritability is the amount of trait variance that comes from genetic differences in the
	assayed group of strains. Generally, it is the ratio of genetic variance to total (genetic plus environmental)
  variance.</p>
  
	<p>To obtain the best estimate of heritability, please measure a set of at least five wild strains in three
	independent assays. These assays should use different nematode growths, synchronizations, bacterial food
	preparations, and any other experimental condition. You should measure trait variance across as many
	different experimental conditions (in one block) as you would typically encounter in a large experiment.
  </p>
  
  <p>
	Please organize your data in a long format, where each row is an independent observation of one strain in one
  trait. The columns of the data set should be:</p>
  
  <ol>
    <li><strong>AssayNumber</strong> - a numeric indicator of independent assays.</li>
    <li><strong>Strain</strong> - one of the CeNDR isotype reference strain names.</li>
    <li><strong>TraitName</strong> - a user-supplied name of a trait with no
      spaces (<i>e.g.</i> BroodSize)</li>.
    <li><strong>Replicate</strong> - independent measures of a trait within one independent assay. You
      can think of this column as a numerical value for a technical replicate.</li>
    <li><strong>Value</strong> - the measured output of the
      trait (<i>e.g.</i> 297 for BroodSize).</li>
  </ol>

  <p>NA values will not be used in broad-sense heritability calculations.</p>
  <br />
  <br />
	<div style="text-align:center;"><button id="hcalc" name="hcalc">Calculate heritability</button></div>
  <br />
  <br />
  
	<div id="chartContainer" ></div>
	<div id="TNerrorContainer" ></div>
	<div id="DUPerrorContainer" ></div>
  <div id="STRerrorContainer" ></div>
  
	<div class="row">
    <div class="col-md-12">
    
    Prepare your data according to the column headers (described above). Data should be pasted in the table below.<br />
    <div id="errorDisp"></div>
      <div id="entry"></div>
            <small class="text-muted">Paste your data into the table above.</small>
            <br />
            <br />
    </div>{# /col-md-12 #}
  </div>{# /row #}
<br />
<br />
<br />
</div>
{% endblock %}

{% block script %}

<script>
var data = [
        ["AssayNumber", "Strain", "TraitName", "Replicate", "Value"],
    ];
var noNAs = 0;
function dataValidator(instance, td, row, col, prop, value, cellProperties) {
    Handsontable.renderers.TextRenderer.apply(this, arguments);
    if (row === 0 && col === 0) {
        cellProperties.readOnly = true;
    }
    if (row === 0) {
        td.style.fontWeight = 'bold';
        td.style.backgroundColor = '#EAEAEA';
    }
	
    if (['NA',].indexOf(String(value).trim()) >= 0) {
        td.style.background = '#FC6666';
        td.style.fontWeight = 'bold';
    }

	if (dupR.indexOf(""+row) > -1) {
		td.style.background = '#0CEF13';
	}
	
	document.getElementById("chartContainer").innerHTML = "";
	document.getElementById("TNerrorContainer").innerHTML = "";
	document.getElementById("DUPerrorContainer").innerHTML = "";
	document.getElementById("STRerrorContainer").innerHTML = "";
}
var uvFl = 0;
var fl = 0;
var dupR = [];
var validatetd = function(hotdata){
	dupR = [];
	strHD = []
	//check for duplicates
	for (i in hotdata){
		if (i !=0 && hotdata[i].toString() != ",,,,"){
			for (j=0; j<i; j++){
				ar = hotdata[j].toString();
				if (ar == hotdata[i].toString()){
					fl+=1;
					dupR.push(i);
				}
			}
			if (strHD.indexOf(hotdata[i][1]) == -1){strHD.push(hotdata[i][1])}
		}
	}
	
	hot.updateSettings({
		cells: function (row, col, prop) {
        var cellProperties = {};
        cellProperties.renderer = dataValidator;
        return cellProperties;
    }
	});

	// check univariate analysis
	uva = []
	if (uvFl < 1){
		DA = JSON.stringify(hot.getData());
		$.ajax({type: "POST",
			url: "/checkHTdata",
			data: JSON.stringify(DA),
			contentType: "application/json; charset=utf-8",
			dataType: 'json',
			success:function(result){
				var node= document.getElementById("chartContainer");
				node.innerHTML = "";
				newP = document.createElement("p");
				newP.style.color = "black";
				newP.appendChild(document.createTextNode("Input data has the range "+result['minimum']+" to "+result['maximum']+", quartiles "+result['25% quartile']+", "+result['50% quartile']+", "+result['75% quartile']+", and variance of "+result['variance']+"."));
				newP.appendChild(document.createElement('br'));
				newP.appendChild(document.createTextNode("If you are satisfied with entered data, please click the Calculate heritability button again."));
				node.appendChild(newP);
				uvFl += 1
			}
		});
	}
	return [fl, strHD.length>4]
}

var container = document.getElementById("entry");
var hot = new Handsontable(container, {
    data: data,
    rowHeaders: function(index) {
        if (index == 0) {
            return ""
        } else {
            return index
        }
    },
    colHeaders: false,
    columnSorting: true,
    stretchH: 'all',
    colWidths: 150,
    maxCols: 5,
    manualColumnResize: true,
    contextMenu: true,
    fixedRowsTop: 1,
    minSpareRows: 5,
    minSpareCols: 1,
    cells: function (row, col, prop) {
        var cellProperties = {};
        cellProperties.renderer = dataValidator;
        return cellProperties;
    }
});


var clipText;
var clipRows =[];
var chartJson = [];
var traits =[];

$("#hcalc").on("click", function(evt){
	document.getElementById('hcalc').disabled = true;
	document.getElementById("TNerrorContainer").innerHTML = "";
	document.getElementById("DUPerrorContainer").innerHTML = "";
	document.getElementById("STRerrorContainer").innerHTML = "";
	flg = validatetd(hot.getData());
	if (flg[0] == 0 && flg[1] == true && uvFl>0){
		DA = JSON.stringify(hot.getData());
		
		$.ajax({type: "POST",
			url: "/getHTdata",
			data: JSON.stringify(DA),
			contentType: "application/json; charset=utf-8",
			dataType: 'json',
			success:function(result){
				
				newP = document.createElement("p");
				newP.appendChild(document.createElement('br'));
				if (result["url"] != ""){
					var node= document.getElementById("chartContainer");
					node.innerHTML = "";
					document.getElementById("TNerrorContainer").innerHTML = "";
	document.getElementById("DUPerrorContainer").innerHTML = "";
	document.getElementById("STRerrorContainer").innerHTML = "";
					newP.appendChild(document.createTextNode("Data are being processed. Please click on the following link for results in 10-15 minutes.  "));
					var a = document.createElement('a');
					a.setAttribute('href',window.location.origin+result["url"]);
					a.innerHTML = window.location.origin+result["url"];
					newP.appendChild(a);
				}else{
					document.getElementById('hcalc').disabled = true;
	document.getElementById("TNerrorContainer").innerHTML = "";
	document.getElementById("DUPerrorContainer").innerHTML = "";
	document.getElementById("STRerrorContainer").innerHTML = "";
					var node= document.getElementById("TNerrorContainer");
					node.innerHTML = "";
					newP.style.color = "red";
					newP.appendChild(document.createTextNode("Please check the data. The TraitName has multiple unique values. Only data for a single trait allowed."));
					uvFl = 0
					fl = 0
				}
				newP.appendChild(document.createElement('br'));
				node.appendChild(newP);
			}
		});
	}else{
		document.getElementById("DUPerrorContainer").innerHTML = "";
		document.getElementById("STRerrorContainer").innerHTML = "";
		
		if (flg[0] != 0) {
			var node= document.getElementById("DUPerrorContainer");
			newP = document.createElement("p");
			newP.style.color = "red";
			newP.appendChild(document.createTextNode("Please check the data because duplicate rows are present. The duplicate rows are shown in green."));
			newP.appendChild(document.createElement('br'));
			node.appendChild(newP);
			
		}
		if (flg[1] == false){
			var node= document.getElementById("STRerrorContainer");
			newP = document.createElement("p");
			newP.style.color = "red";
			newP.appendChild(document.createTextNode("Please check the data because fewer than five strains are present. Please measure trait values for at least five wild strains in at least three independent assays."));
			newP.appendChild(document.createElement('br'));
			node.appendChild(newP);
		}
		uvFl = 0
		fl = 0
	}
	evt.stopPropagation();
	document.getElementById('hcalc').disabled = false;
});


</script>

{% endblock %}

