{% extends "_layouts/default.html" %}

{% block style %}

{% endblock %}

{% block content %}
<div class="row">
    
  <div class='col-md-3'>
    <div class="thumbnail img-responsive" style="border: 1px solid black; padding: 0; border-radius: 5px; min-height: 425px">
      <a href="{{ url_for('heritability.heritability') }}"><img src="/static/img/heritability.png" style="border-radius: 5px 5px 0px 0px;"></a>
      <div class="caption">
        <p><a href="{{ url_for('heritability.heritability') }}" class="btn btn-primary btn-block" role="button">Heritability</a></p>
        <p>Calculate broad-sense heritability.</p>
      </div>
    </div>
  </div>
  {#}
  <div class='col-md-3'>
    <div class="thumbnail img-responsive" style="border: 1px solid black; padding: 0; border-radius: 5px; min-height: 425px">
      <a href="/strain/global-strain-map/"><img src="/static/img/heritability.png" style="border-radius: 5px 5px 0px 0px;"></a>
      <div class="caption">
        <p><a href="{{ url_for('heritability.heritability') }}" class="btn btn-primary btn-block" role="button">Heritability</a></p>
        <p>Calculate broad-sense heritability.</p>
      </div>
    </div>
  </div>#}

</div>
{% endblock %}


