<br />
<br />
<br />
<div class="container">
  <footer class='hidden-print'>

    <div class="row">

      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <small>{{ version }} &nbsp;&nbsp; <a href="https://github.com/AndersenLab/CeNDR/issues">Issue Tracker</a></small>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-sm-12">
        <div class="text-center">
          <a href="https://www.northwestern.edu/"><img src="/static/img/logos/NU.jpg" /></a> 
        </div>
        <br />
        <br />
      </div>
      
    </div>

  </footer>
</div> {# /container-fluid #}


<div class="container-fluid nu-footer">

  <footer>

    <div class="row nopadding">

      <div class="col-lg-2 col-md-3 col-xs-6 col-lg-offset-2 nu-footer-col text-center">
          <ul>
            <a href="index.html"><img alt="Northwestern University logo" src="/static/img/northwestern-university.svg"></a>
            <li>© 2020 Northwestern University</li>
            <li><a href="https://www.northwestern.edu/accessibility/">Accessibility</a></li>
            <li><a href="https://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
            <li><a href="https://www.northwestern.edu/hr/careers/">Careers</a></li>
            <li><a href="https://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
            <li><a href="https://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
            <li><a href="https://www.northwestern.edu/privacy/index.html">Privacy Statement</a></li>
            <li><a href="http://policies.northwestern.edu/">University Policies</a></li>
          </ul>
      </div> {# / col-md-2 #}


      <div class="col-lg-2 col-md-3 col-xs-6 nu-footer-col nu-footer-col-2">
        <ul>
          <span class="glyphicon glyphicon-map-marker nu-footer-icon"></span>
          <li></li>
          <li>633 Clark Street</li>
          <li>Evanston, IL 60208</li>
          <span class="glyphicon glyphicon-phone nu-footer-icon"></span>
          <li></li>
          <li><strong>Evanston</strong></li>
          <li>(847) 491-3741</li>
          <li></li>
          <li><strong>Chicago</strong></li>
          <li>(312) 503-8649</li>
        </ul>
      </div> {# / col-md-2 #}


      <div class="col-lg-2 col-md-3 col-xs-6 nu-footer-col nu-footer-col-3 text-center">
        <div class="nu-footer-col-3-title">Social Media</div>
        <table>
          <tbody>
            <tr>
              <td class="text-center"><a href="https://www.facebook.com/NorthwesternU"><i class="fab fa-facebook-square fa-3x"></i></a></td>
              <td class="text-center"><a href="https://www.twitter.com/northwesternu"><i class="fab fa-twitter-square fa-3x"></i></a></td>
              <td class="text-center"><a href="https://instagram.com/northwesternu"><i class="fab fa-instagram-square fa-3x"></i></a></td>
            </tr>
            <tr>
              <td class="text-center"><a href="https://www.youtube.com/user/NorthwesternU"><i class="fab fa-youtube-square fa-3x"></i></a></td>
              <td class="text-center"><a href="https://www.futurity.org/university/northwestern-university/"><div style="height:4.0em;"><img src="/static/img/logos/futurity.svg"/></div></a></td>
              <td class="text-center"><a href="https://news.northwestern.edu/feeds/allStories"><i class="fas fa-rss-square fa-3x"></i></a></td>
            </tr>
          </tbody>
        </table>

      </div> {# / col-md-2 #}

      <div class="col-lg-2 col-md-3 col-xs-6 nu-footer-col text-center">
        <ul>
          <li><a href="https://www.northwestern.edu/norris/services/bookstore/">Bookstore</a></li>
          <li><a href="https://offices.northwestern.edu/">Directory</a></li>
          <li><a href="https://www.library.northwestern.edu/">Library</a></li>
          <li><a href="https://maps.northwestern.edu/">Maps</a></li>
          <li><a href="https://news.northwestern.edu/for-journalists/staff-page">Media Relations</a></li>
          <li><a href="https://www.northwestern.edu/transportation-parking/">Parking</a></li>
          <li><a href="https://www.northwestern.edu/transportation-parking/shuttles/routes/">Shuttles</a></li>
          <li><a href="https://www.northwestern.edu/provost/initiatives/teaching-and-learning/online-and-blended-learning/student-complaint-procedure.html">Student Complaint Procedure</a></li>
        </ul>
      </div>


    </div> {# /row #}


  </footer>

</div> {# /container-fluid #}
<!--Closes Container -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-24677584-4', 'auto', 
    { user: "{{ user['name'] if user else None }}"});
ga('send', 'pageview');


</script>

</script>
