<div class="clearfix"></div>
<br />
<br />
<br />
<footer class='hidden-print'>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body text-center">
                  <small>{{ version }} &nbsp;&nbsp; <a href="https://github.com/AndersenLab/CeNDR/issues">Issue Tracker</a></small>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12">
            <div class="text-center">
                <a href="https://www.northwestern.edu/"><img src="/static/img/logos/NU.jpg" /></a> 
            </div>
            <br />
            <br />
        </div>
</footer>
</div>
<footer id="main-footer" class="northwestern-brand">

    <div class="container">
        <div id="footer-widgets" class="clearfix">
            <div class="footer-widget">
                <div id="custom_html-3" class="widget_text fwidget et_pb_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <div class="footer-content"><a href="index.html"><img alt="Northwestern University logo" src="/static/img/northwestern-university.svg"></a>
                            <ul>
                                <li>© 2020 Northwestern University</li>
                                <li><a href="https://www.northwestern.edu/accessibility/">Accessibility</a></li>
                                <li><a href="https://www.northwestern.edu/emergency/index.html">Campus Emergency Information</a></li>
                                <li><a href="https://www.northwestern.edu/hr/careers/">Careers</a></li>
                                <li><a href="https://www.northwestern.edu/contact.html">Contact Northwestern University</a></li>
                                <li><a href="https://www.northwestern.edu/disclaimer.html">Disclaimer</a></li>
                                <li><a href="https://www.northwestern.edu/privacy/index.html">Privacy Statement</a></li>
                                <li><a href="http://policies.northwestern.edu/">University Policies</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end .fwidget -->
            </div> <!-- end .footer-widget -->
            <div class="footer-widget">
                <div id="custom_html-4" class="widget_text fwidget et_pb_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <div class="footer-content contact">
                            <ul>
                                <li class="footer-pin-icon"><span class="hide-label">Address</span></li>
                                <li>633 Clark Street</li>
                                <li>Evanston, IL 60208</li>
                            </ul>
                            <ul>
                                <li class="footer-phone-icon"><span class="hide-label">Phone number</span></li>
                                <li><strong>Evanston</strong></li>
                                <li>(847) 491-3741</li>
                            </ul>
                            <ul>
                                <li><strong>Chicago</strong></li>
                                <li>(312) 503-8649</li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end .fwidget -->
            </div> <!-- end .footer-widget -->
            <div class="footer-widget">
                <div id="custom_html-5" class="widget_text fwidget et_pb_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <div class="footer-content">
                            <p><strong>Social Media</strong></p><a href="https://www.facebook.com/NorthwesternU"><span class="facebook-hover social-slide"><span class="hide-label">Facebook</span></span></a><a href="https://www.twitter.com/northwesternu"><span class="twitter-hover social-slide"><span class="hide-label">Twitter</span></span></a><a href="https://instagram.com/northwesternu"><span class="instagram-hover social-slide"><span class="hide-label">Instagram</span></span></a><br><a href="https://www.youtube.com/user/NorthwesternU"><span class="youtube-hover social-slide"><span class="hide-label">YouTube</span></span></a><a href="https://www.futurity.org/university/northwestern-university/"><span class="futurity-hover social-slide"><span class="hide-label">Futurity</span></span></a><a href="https://news.northwestern.edu/feeds/allStories"><span class="rss-hover social-slide"><span class="hide-label">RSS</span></span></a>
                        </div>
                    </div>
                </div> <!-- end .fwidget -->
            </div> <!-- end .footer-widget -->
            <div class="footer-widget">
                <div id="custom_html-6" class="widget_text fwidget et_pb_widget widget_custom_html">
                    <div class="textwidget custom-html-widget">
                        <div class="footer-content">
                            <ul>
                                <li><a href="https://www.northwestern.edu/norris/services/bookstore/">Bookstore</a></li>
                                <li><a href="https://offices.northwestern.edu/">Directory</a></li>
                                <li><a href="https://www.library.northwestern.edu/">Library</a></li>
                                <li><a href="https://maps.northwestern.edu/">Maps</a></li>
                                <li><a href="https://news.northwestern.edu/for-journalists/staff-page">Media Relations</a></li>
                                <li><a href="https://www.northwestern.edu/transportation-parking/">Parking</a></li>
                                <li><a href="https://www.northwestern.edu/transportation-parking/shuttles/routes/">Shuttles</a></li>
                                <li><a href="https://www.northwestern.edu/provost/initiatives/teaching-and-learning/online-and-blended-learning/student-complaint-procedure.html">Student Complaint Procedure</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end .fwidget -->
            </div> <!-- end .footer-widget -->
        </div> <!-- #footer-widgets -->
    </div> <!-- .container -->


    <div id="footer-bottom">
        <div class="container clearfix">
        </div> <!-- .container -->
    </div>
</footer>
<!--Closes Container -->
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-24677584-4', 'auto', 
    { user: "{{ user['name'] if user else None }}"});
ga('send', 'pageview');


</script>

</script>
