<header>

<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation" style="z-index:5000;{% if config.DEBUG %}background-color:blue;{% endif %}">
  <div class="container{% if fluid_container %}-fluid{% endif %}">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">CeNDR</a>
    </div>


<!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


      <ul class="nav navbar-nav navbar-right" >
        <li class="dropdown">
          <a href="{{ url_for("about.about") }}" role="button" aria-haspopup="true" aria-expanded="false">About<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("about.about") }}">About CeNDR</a></li>
            <li><a href="{{ url_for("about.statistics") }}">Statistics</a></li>
            <li><a href="{{ url_for("about.staff") }}">Staff</a></li>
            <li><a href="{{ url_for("about.committee") }}">Scientific Advisory Committee</a></li>
            <li><a href="{{ url_for("about.collaborators") }}">Collaborators</a></li>
            <li><a href="{{ url_for("about.donate") }}">Donate</a></li>
            <li><a href="{{ url_for("about.funding") }}">Funding</a></li>
            <li><a href="{{ url_for("about.publications") }}">Publications</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="{{ url_for("strains.strains")}}" role="button" role="button" aria-haspopup="true" aria-expanded="false">Strains<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("strains.strains")}}">Strains</a></li>
            <li><a href="{{ url_for("strains.strains", active_tab='List')}}">Isotype List</a></li>
            <li><a href="{{ url_for("strains.strains_catalog")}}">Strain Catalog</a></li>
            <li><a href="{{ url_for("strains.protocols") }}">Protocols</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ url_for("strains.strains_submission_page") }}">Submit Strains</a></li>
          </ul>
        </li>

        <li class="dropdown">
        <a href="{{ url_for("data.data")}}" role="button" role="button" aria-haspopup="true" aria-expanded="false">Data<span class="caret"></span></a>
        <ul class="dropdown-menu dropdown-menu-left">
          <li><a href="{{ url_for("data.data") }}">Genomic Data</a></li>
          <li><a href="{{ url_for("data.browser") }}">Variant Browser</a></li>
         {#<li><a href="{{ url_for('docs') }}">API</a></li>#}
        </ul>
        </li>

        <li class="dropdown">
          <a href="{{ url_for("mapping.mapping")}}" role="button" aria-haspopup="true" aria-expanded="false">Genetic Mapping<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("mapping.mapping")}}">Perform Mapping</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="{{ url_for("tools.tools")}}" role="button" aria-haspopup="true" aria-expanded="false">Tools<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("indel_primer.indel_primer")}}">Pairwise indel finder</a></li>
            <li><a href="{{ url_for("heritability.heritability")}}">Heritability calculator</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a href="{{ url_for("primary.outreach") }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Outreach</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for("primary.help_item") }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for("primary.contact") }}" class="nav-link" role="button" aria-haspopup="true" aria-expanded="false">Contact Us</a>
        </li>

        {% if (session["is_logged_in"] and session["is_admin"]) %}
        <li class="dropdown">
          <a href="{{ url_for("admin.admin")}}" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-left">
            <li><a href="{{ url_for("users.users")}}"> Users </a></li>
            <li><a href="{{ url_for("admin.admin_strain_sheet")}}"> Strains </a></li>
            <li><a href="{{ url_for("admin.admin_publications_sheet")}}"> CeNDR Publications </a></li>
            <li><a href="{{ url_for("data_admin.data_admin")}}"> Data Releases </a></li>
          </ul>
        </li>
        {% endif %}
        
        {% if session["is_logged_in"] %}
            <li class="dropdown">
              <a href="{{ url_for('user.user_profile') }}" role="button" aria-haspopup="true" aria-expanded="false"> Account <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="{{ url_for('auth.logout') }}" class='nav-link' role='button'>Logout</a></li>
              </ul>
            </li>
        {% else %}
        <li class="nav-item">
            <a href='{{ url_for("auth.choose_login") }}' class='nav-link' role='button'>Login</a>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</header>