{% extends "_layouts/default.html" %}

{% block content %}

<div class='row'>
    <div class='col-md-8'>
        <div class="row">
            <div class="col-md-6">
                <h4>Strains</h4>
                <ul>
                {% for i in isotype %}
                    {% if i.isotype_ref_strain %}
                      <li><strong><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="reference strain">{{ i.strain }}</span></strong></li>
                    {% else %}
                      <li>{{ i.strain }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br />
                {% if isotype[0].previous_names %}
                <h4>Alternative Names</h4>
                <ul>
                {% for i in isotype[0].previous_names.split(",") %}
                  <li>{{ i }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>{# col-md-6 #}

            <div class="col-md-12">
                {% if isotype_ref_strain.strain_photo_url() %}
                <h4>Photo</h4>
            <img src="{{ isotype_ref_strain.strain_photo_url() }}" class="col-md-12 thumbnail" name="{{ isotype_ref_strain.strain }}">
        {% endif %}
            </div>{# /col-md-6 #}
        </div>{# row #}
        
    </div>{# col-md-8 #}

    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading"><img src = "/static/img/icons/selected.png" width="20px;" />
                <strong>
                    Summary
                </strong>
            </div>
            <ul class="list-group">
            <li class="list-group-item" style="padding:0px;">
            {% if isotype_ref_strain.latitude %}
              <div id="map" style="height: 200px; width:100%"></div>
            {% else %}
              <div style="height: 200px; background-color: #73AFE4; width:100%; text-align: center; line-height: 195px; "><strong>No Location</strong></div>
            {% endif %}

            </li>
                            <li class="list-group-item">
            <strong>
            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                       Isotype
            </span>
            </strong> 
                    <div class="isotype pull-right"> {{ isotype_ref_strain["isotype"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name of strain we distribute as a representative of an isotype.">
                        Reference Strain
                        </span></strong> 
                        <div class="strain pull-right">{{ isotype_ref_strain["strain"]}}</div><div style="clear:both;"></div></li>

            <li class="list-group-item"><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Dataset in which isotype was originally released."><strong>Release</strong></span> <div class="pull-right">{{ isotype_ref_strain['release']|format_release }}</div></li>
            <li class="list-group-item"><strong>Isolation Date</strong> <div class="strain pull-right">{{ isotype_ref_strain["isolation_date"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>Latitude, Longitude</strong> <div class="lat pull-right">
                {% if isotype_ref_strain['latitude'] %}
                    {{ isotype_ref_strain["latitude"] }}, {{ isotype_ref_strain["longitude"] }}
                {% else %}
                    Unknown
                {% endif %}
                </div><div style="clear:both;"></div>
            </li>
            <li class="list-group-item"><strong>Elevation</strong>
                <div class="elevation pull-right">
                {% if isotype_ref_strain['elevation'] %}
                    {{ isotype_ref_strain["elevation"] }} m
                {% else %}
                    Unknown
                {% endif %}
                <div style="clear:both;"></div>
            </li>
            
            <li class="list-group-item">
                <span class='tooltip-item' data-toggle='tooltip' title='Environment type class'>
                    <strong>Landscape</strong></span>
                    <div class="location pull-right">{{ isotype_ref_strain["landscape"] or ""}}</div>
                    <div style="clear:both;"></div>
            </li>
            

            <li class="list-group-item"><span class='tooltip-item' data-toggle='tooltip' title='Material in or on which nematodes were isolated'>
                <strong>Substrate</strong></span>
                <div class="location pull-right">{{ isotype_ref_strain["substrate"] or "" }}</div>
                <div style="clear:both;"></div>
            </li>

            <li class="list-group-item">
                <strong>Sampled By</strong>
                <div class="location pull-right">{{ isotype_ref_strain["sampled_by"] }}</div>
                <div style="clear:both;"></div>
            </li>
            
            <li class="list-group-item"><strong>Substrate Temperature (C)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['substrate_temp'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Substrate Moisture (%)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['substrate_moisture'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Ambient Temperature (C)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['ambient_temp'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Ambient Humidity (%)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['ambient_humidity'] or "" }}
                </div>
            </li>

            <li class="list-group-item">
                <small>Data in this table is for the reference strain.</small>
            </li>

            </ul>
        </div>{# /panel #}
    </div>{# col-md-4 #}
</div>




{% endblock %}


{% block script %}
<script>

$( document ).ready( function() {
  $('[data-toggle="tooltip"]').tooltip();
});


var icon_norm = L.icon({
    iconUrl: '/static/img/icons/selected.png',
    iconSize: [48, 48],
    iconAnchor: [24, 48],
    popupAnchor: [-3, -76],
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});



   ACCESS_TOKEN = 'pk.eyJ1IjoianByNyIsImEiOiJjaWhxbTRvdmswMDFzdGRtMDd0cGN6cG9lIn0.YzgwcnxBn6_DauMzz5fiQg';
    MB_ATTR = 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="https://mapbox.com">Mapbox</a>';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    OSM_ATTRIB = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

  data = {{ strain_json_output|safe }}
  view_set = false;

  var map = L.map('map', {"dragging": true,
                          "boxZoom": false,
                          "scrollWheelZoom": false,
                          "doubleClickZoom": true,
                          "tap":false,
                          "zoomControl": true});

  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(map);
  strain_info = [];
  strain_names = [];
  markers = [];

  data.forEach(function(d) {
    if (d.latitude) {
    m = L.marker([d.latitude, d.longitude], { icon: icon_norm, 
                                           strain: d.strain,
                                           title: d.strain,
                                           isotype: d.isotype,
                                           isolation : d.isolation,
                                           elevation: d.elevation,
                                           loc : d.location }).addTo(map);


    markers.push(m);
    if (view_set == false) {
    map.setView([d.latitude, d.longitude], 7);
    view_set = true;
    }
    }
  });
  
  var strain_layer = L.layerGroup(markers);




</script>

{% endblock %}
