{% extends "_layouts/default.html" %}

{% block content %}
<div class='row'>
    <div class='col-md-8'>
        <div class="row">
            <div class="col-md-6">
                <h4>Strains</h4>
                <ul>
                {% for i in isotype %}
                    {% if i.isotype_ref_strain %}
                      <li><strong><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="reference strain">{{ i.strain }}</span></strong></li>
                    {% else %}
                      <li>{{ i.strain }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br />
                {% if isotype[0].previous_names %}
                <h4>Alternative Names</h4>
                <ul>
                {% for i in isotype[0].previous_names.split("|") %}
                  <li>{{ i }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>{# col-md-6 #}
            <div class="col-md-12">
            {% for i in isotype %}
                {% if i.strain_photo_url() %}
                    <row>
                        <div class="col-md-4">
                            <a href="{{ i.strain_photo_url() }}" src="_blank">
                                <figure class="figure" style="padding:10px">
                                    <img class="figure-img img-fluid img-thumbnail" src="{{ i.strain_thumbnail_url() }}" name="{{ i.strain }}">
                                    <figcaption class="figure-caption text-center">{{ i.strain }}</figcaption>
                                </figure>
                            </a>
                        </div>
                    </row>
                {% endif %}
            {% endfor %}
            </div>{# /col-md-6 #}
        </div>{# row #}        
    </div>{# col-md-8 #}

    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading"><img src = "/static/img/icons/selected.png" width="20px;" />
                <strong>
                    Summary
                </strong>
            </div>
            <ul class="list-group">
            <li class="list-group-item" style="padding:0px;">
            {% if isotype_ref_strain.latitude %}
              <div id="map" style="height: 200px; width:100%">
                <script>
                    mapboxgl.accessToken = 'pk.eyJ1Ijoic3dhY2hzcHJlc3MiLCJhIjoiY2trZDJyZWtmMHM3OTJvcWlpNmE3cTQ1ZSJ9.UwY-WYd78c7SnO1S_37vtg';
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/outdoors-v11', // stylesheet location
                        center: [ "{{ isotype_ref_strain.longitude }}", "{{ isotype_ref_strain.latitude }}"], // starting position [lng, lat]
                        zoom: 7 // starting zoom
                    });
                    </script>
                </div>
            {% else %}
              <div style="height: 200px; background-color: #73AFE4; width:100%; text-align: center; line-height: 195px; "><strong>No Location</strong></div>
            {% endif %}

            </li>
                            <li class="list-group-item">
            <strong>
            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                       Isotype
            </span>
            </strong> 
                    <div class="isotype pull-right"> {{ isotype_ref_strain["isotype"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name of strain we distribute as a representative of an isotype.">
                        Reference Strain
                        </span></strong> 
                        <div class="strain pull-right">{{ isotype_ref_strain["strain"]}}</div><div style="clear:both;"></div></li>

            <li class="list-group-item"><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Dataset in which isotype was originally released."><strong>Release</strong></span> <div class="pull-right">{{ isotype_ref_strain['release']|format_release }}</div></li>
            <li class="list-group-item"><strong>Isolation Date</strong> <div class="strain pull-right">{{ isotype_ref_strain["isolation_date"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>Latitude, Longitude</strong> <div class="lat pull-right">
                {% if isotype_ref_strain['latitude'] %}
                    {{ isotype_ref_strain["latitude"] }}, {{ isotype_ref_strain["longitude"] }}
                {% else %}
                    Unknown
                {% endif %}
                </div><div style="clear:both;"></div>
            </li>
            <li class="list-group-item"><strong>Elevation</strong>
                <div class="elevation pull-right">
                {% if isotype_ref_strain['elevation'] %}
                    {{ isotype_ref_strain["elevation"] }} m
                {% else %}
                    Unknown
                {% endif %}
                <div style="clear:both;"></div>
            </li>
            
            <li class="list-group-item">
                <span class='tooltip-item' data-toggle='tooltip' title='Environment type class'>
                    <strong>Landscape</strong></span>
                    <div class="location pull-right">{{ isotype_ref_strain["landscape"] or ""}}</div>
                    <div style="clear:both;"></div>
            </li>
            

            <li class="list-group-item"><span class='tooltip-item' data-toggle='tooltip' title='Material in or on which nematodes were isolated'>
                <strong>Substrate</strong></span>
                <div class="location pull-right">{{ isotype_ref_strain["substrate"] or "" }}</div>
                <div style="clear:both;"></div>
            </li>

            <li class="list-group-item">
                <strong>Sampled By</strong>
                <div class="location pull-right">{{ isotype_ref_strain["sampled_by"] }}</div>
                <div style="clear:both;"></div>
            </li>
            
            <li class="list-group-item"><strong>Substrate Temperature (C)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['substrate_temp'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Substrate Moisture (%)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['substrate_moisture'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Ambient Temperature (C)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['ambient_temp'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Ambient Humidity (%)</strong>
                <div class='location pull-right'>
                    {{ isotype_ref_strain['ambient_humidity'] or "" }}
                </div>
            </li>

            <li class="list-group-item">
                <small>Data in this table is for the isotype reference strain.</small>
            </li>

            </ul>
        </div>{# /panel #}
    </div>{# col-md-4 #}
</div>

{% endblock %}

{% block script %}

<script>

$( document ).ready( function() {
  $('[data-toggle="tooltip"]').tooltip();
});

if (document.getElementById('map')) {
    ACCESS_TOKEN = mapboxgl.accessToken;
    var markerHeight = 50, markerRadius = 10, linearOffset = 25;
    var popupOffset = {
        'top': [0, 0],
        'top-left': [0,0],
        'top-right': [0,0],
        'bottom': [0, -markerHeight],
        'bottom-left': [linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
        'bottom-right': [-linearOffset, (markerHeight - markerRadius + linearOffset) * -1],
        'left': [markerRadius, (markerHeight - markerRadius) * -1],
        'right': [-markerRadius, (markerHeight - markerRadius) * -1]
    };

    data = {{ strain_json_output|safe }}

    data.forEach(function(d) {
        if (d.latitude) {
            const innerHTML = `
                <div>
                    <ul style="list-style-type:none; padding-left:0px">
                        ${d.isotype ? '<li><b><a href="../strains/isotype/' + d.isotype + '">Isotype: ' + d.isotype + '</a></b></li>': ''}
                        ${d.strain ? '<li><b>Strain: ' + d.strain + '</b></li>': ''}
                        ${d.isolation ? '<li>Isolation: ' + d.isolation + '</li>': ''}
                        ${d.elevation ? '<li>Elevation: ' + d.elevation + '</li>': ''}
                        ${d.isolation ? '<li>Location: ' + d.location + '</li>': ''}
                    </ul>
                </div>
            `;
            p = new mapboxgl.Popup()
                .setHTML(innerHTML)
                .setOffset(popupOffset);
            m = new mapboxgl.Marker()
                .setLngLat([d.longitude, d.latitude])
                .setPopup(p)
                .addTo(map);
        }
    })
}
</script>

{% endblock %}
