{% extends "_layouts/default.html" %}

{% block content %}

<div class='row'>
    <div class='col-md-8'>
        <div class="row">
            <div class="col-md-6">
                <h4>Strains</h4>
                <ul>
                {% for i in isotype %}
                    {% if i.reference_strain %}
                      <li><strong><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="reference strain">{{ i.strain }}</span></strong></li>
                    {% else %}
                      <li>{{ i.strain }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
                <br />
                {% if isotype[0].previous_names %}
                <h4>Alternative Names</h4>
                <ul>
                {% for i in isotype[0].previous_names.split("|") %}
                  <li>{{ i }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>{# col-md-6 #}

            <div class="col-md-6">
                <h4>Data</h4>
                  <li>{{ reference_strain.bam_url() }}</li>
                {% if reference_strain.variant_file %}
                  <li><a href = "#">{{ obj }}.variants.tsv</a></li>
                {% endif %}
            </div>{# col-md-6 #}
        </div>{# row #}

    <div class='row'>
        <div class='col-md-12'>
            <h4>Variation</h4>
        </div>

        <div class='row'>

            <div class='col-md-12'>
                <table class='table table-striped table-hover'>
                    <thead>
                        <tr>
                            <th></th>
                            <th class='text-right'>Soft-Filter</th>
                            <th class='text-right'>Hard-Filter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>Variant Calls</strong></td>
                            <td class='text-right'>{{ soft_variant['n_calls']|comma }}</td>
                            <td class='text-right'>{{ hard_variant['n_calls']|comma }}</td>
                        </tr>
                        <tr>
                            <td><strong>Homozygous reference genotype</strong></td>
                            <td class='text-right'>{{ soft_variant['ref_calls']|comma }}</td>
                            <td class='text-right'>{{ hard_variant['ref_calls']|comma }}</td>
                        </tr>
                        <tr>
                            <td><strong>Heterozygous genotype</strong></td>
                            <td class='text-right'>{{ soft_variant.get('het_calls')|comma }}</td>
                            <td class='text-right'>
                                {% if hard_variant.get('het_calls') %}
                                    {{ hard_variant.get('het_calls')|comma }}
                                {% else %}
                                    0
                                {% endif %}

                            </td>
                        </tr>
                        <tr>
                            <td><strong>Homozogyous alternative genotype</strong></td>
                            <td class='text-right'>{{ soft_variant['alt_calls']|comma }}</td>
                            <td class='text-right'>{{ hard_variant['alt_calls']|comma }}</td>
                        </tr>    
                        <tr>
                            <td><strong>Missing genotype call</strong></td>
                            <td class='text-right'>{{ soft_variant['missing_calls']|comma }}</td>
                            <td class='text-right'>{{ hard_variant['missing_calls']|comma }}</td>
                        </tr>    
                        <tr>
                            <td><strong>Singletons</strong></td>
                            <td class='text-right'>{{ soft_variant['singletons']|comma }}</td>
                            <td class='text-right'>{{ hard_variant['singletons']|comma }}</td>
                        </tr>                        
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <small>Data in the table above table are for the reference strain.</small>

 {% if len(photo_set) > 0 %}
    <div class='row'>
        <div class='col-md-12'>
            <h4>Collections</h4>
        </div>
    </div>
    <div class='row'>
        <table class='table table-bordered table-condensed table-hover'>
            <thead>
                <th>Photo</th>
                <th>Strains</th>
            </thead>
            <tbody>
        {% for photo, strains in photo_set.items() %}
            <tr>
                <td>
                    <a href='{{ photo }}' target="_blank">
                        <img class='thumbnail' src='{{ photo }}'/>
                    </a>
                </td>
                <td>
                    <ul>
                        {% for s in strains %}<li>{{ s }}</li>{% endfor %}
                    </ul>
                </td>
            </tr>
            </div>
        {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}
    </div>{# col-md-8 #}

    <div class='col-md-4'>
        <div class="panel panel-default">
            <div class="panel-heading"><img src = "/static/img/icons/selected.png" width="20px;" />
                <strong>
                    Summary
                </strong>
            </div>
            <ul class="list-group">
            <li class="list-group-item" style="padding:0px;">
            {% if reference_strain.latitude %}
              <div id="map" style="height: 200px; width:100%"></div>
            {% else %}
              <div style="height: 200px; background-color: #73AFE4; width:100%; text-align: center; line-height: 195px; "><strong>No Location</strong></div>
            {% endif %}

            </li>
                            <li class="list-group-item">
            <strong>
            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name assigned to a group of strains that share the same genome-wide haplotype.">
                       Isotype
            </span>
            </strong> 
                    <div class="isotype pull-right"> {{ reference_strain["isotype"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>                            <span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Name of strain we distribute as a representative of an isotype.">
                        Reference Strain
                        </span></strong> 
                        <div class="strain pull-right">{{ reference_strain["strain"]}}</div><div style="clear:both;"></div></li>

            <li class="list-group-item"><span class="tooltip-item" data-toggle="tooltip"  data-placement="bottom" title="Dataset in which isotype was originally released."><strong>Release</strong></span> <div class="pull-right">{{ reference_strain['release']|format_release }}</div></li>
            <li class="list-group-item"><strong>Isolation Date</strong> <div class="strain pull-right">{{ reference_strain["isolation_date"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>Latitude, Longitude</strong> <div class="lat pull-right">
                {% if reference_strain['latitude'] %}
                    {{ reference_strain["latitude"] }}, {{ reference_strain["longitude"] }}
                {% else %}
                    Unknown
                {% endif %}
                </div><div style="clear:both;"></div>
            </li>
            <li class="list-group-item"><strong>Elevation</strong>
                <div class="elevation pull-right">
                {% if reference_strain['elevation'] %}
                    {{ reference_strain["elevation"] }} m
                {% else %}
                    Unknown
                {% endif %}
                <div style="clear:both;"></div>
            </li>
            <li class="list-group-item"><span class='tooltip-item' data-toggle='tooltip' title='Environment type class'><strong>Landscape</strong></span> <div class="location pull-right">{{ reference_strain["landscape"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><span class='tooltip-item' data-toggle='tooltip' title='Material in or on which nematodes were isolated'><strong>Substrate</strong></span> <div class="location pull-right">{{ reference_strain["substrate"] }}</div><div style="clear:both;"></div></li>
            <li class="list-group-item"><strong>Sampled By</strong> <div class="location pull-right">{{ reference_strain["sampled_by"] }}</div><div style="clear:both;"></div></li>
            
            <li class="list-group-item"><strong>Substrate Temperature (C)</strong>
                <div class='location pull-right'>
                    {{ reference_strain['substrate_temp'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Substrate Moisture (%)</strong>
                <div class='location pull-right'>
                    {{ reference_strain['substrate_moisture'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Ambient Temperature (C)</strong>
                <div class='location pull-right'>
                    {{ reference_strain['ambient_temp'] or "" }}
                </div>
            </li>

            <li class="list-group-item"><strong>Ambient Humidity (%)</strong>
                <div class='location pull-right'>
                    {{ reference_strain['ambient_humidity'] or "" }}
                </div>
            </li>

            <li class="list-group-item">
                <small>Data in this table is for the reference strain.</small>
            </li>

            </ul>
        </div>{# /panel #}
    </div>{# col-md-4 #}
</div>




{% endblock %}


{% block script %}
<script>

$( document ).ready( function() {
  $('[data-toggle="tooltip"]').tooltip();
});


var icon_norm = L.icon({
    iconUrl: '/static/img/icons/selected.png',
    iconSize: [48, 48],
    iconAnchor: [24, 48],
    popupAnchor: [-3, -76],
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});



   ACCESS_TOKEN = 'pk.eyJ1IjoianByNyIsImEiOiJjaWhxbTRvdmswMDFzdGRtMDd0cGN6cG9lIn0.YzgwcnxBn6_DauMzz5fiQg';
    MB_ATTR = 'Map data &copy; <a href="https://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="https://mapbox.com">Mapbox</a>';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    OSM_ATTRIB = '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

  data = {{ strain_json_output|safe }}
  view_set = false;

  var map = L.map('map', {"dragging": true,
                          "boxZoom": false,
                          "scrollWheelZoom": false,
                          "doubleClickZoom": true,
                          "tap":false,
                          "zoomControl": true});

  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(map);
  strain_info = [];
  strain_names = [];
  markers = [];

  data.forEach(function(d) {
    if (d.latitude) {
    m = L.marker([d.latitude, d.longitude], { icon: icon_norm, 
                                           strain: d.strain,
                                           title: d.strain,
                                           isotype: d.isotype,
                                           isolation : d.isolation,
                                           elevation: d.elevation,
                                           loc : d.location }).addTo(map);


    markers.push(m);
    if (view_set == false) {
    map.setView([d.latitude, d.longitude], 7);
    view_set = true;
    }
    }
  });
  
  var strain_layer = L.layerGroup(markers);




</script>

{% endblock %}
