{% extends "_layouts/default.html" %}

{% block style %}
<style>
.table-nice {
    border: 1px solid #ccc;
    margin: 5px 0px;
    transition: 0.5s;
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border-collapse: separate;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
      <div class="col-md-4">

            <ul class="list-group">
              <li class="list-group-item"><strong>Locus</strong><div class='pull-right'>{{ gene_record ["locus"] }}</div></li>
              <li class="list-group-item"><strong>Sequence name</strong><div class='pull-right'>{{ gene_record ["sequence_name"] }}</div></li>
              <li class="list-group-item"><strong>Biotype</strong><div class='pull-right'>{{ gene_record ["biotype"] }}</div></li>
                 <li class="list-group-item">
                    <strong>Location</strong>
                    <div class='pull-right'>
                        <a href="{{ url_for("data.gbrowser",
                                            region= gene_record.interval) }}">
                            {{ gene_record.interval }}
                        </a>
                    </div>
                </li>
            </ul>

            <h4>External Links</h4>
            <ul class="list-group" id="external_links">

            </ul>

      </div>
      <div class="col-md-8"> 

      <h3>Variants</h3>
      <table class='table table-striped table-hover table-responsive table-nice'>
      <thead>
            <tr>
                  <th class='text-nowrap'>CHROM:POS (REF/ALT)</th>
                  <th>Feature ID</th>
                  <th>Biotype</th>
                  <th>Effect</th>
                  <th><abbr data-toggle='tooltip' title='Amino Acid Change'>AA Change</abbr></th>
                  <th>Impact</th>
            </tr>
      </thead>
      <tbody>
        {% for variant in variants %}
            {% for ann in variant['ANN'] %}
            <tr class='{{ TABLE_COLORS[ann["impact"]] }}'>
                <td class='text-nowrap'>{{ variant["CHROM"] }}:{{ variant["POS"] }} ({{ variant["REF"] }} / {{ '/'.join(variant["ALT"]) }})</td>
                <td>{{ ann['feature_id'] }}</td>
                <td>{{ ann['transcript_biotype'] }}</td>
                <td>{{ '<br />'.join(ann['effect'].split("&"))|safe }}</td>
                <td>{{ ann["aa_change"] }}</td>
                <td>{{ ann["impact"] }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
      </tbody>
      </table>

      <h3>Gene Ontology</h3>
      <table class='table table-striped table-hover' id="gene_ontology">
        <thead>
          <th>Type</th>
          <th>ID</th>
          <th>Label</th>
        </thead>
        <tbody>
        </tbody>
      </table>

      
      <h3>Phenotypes</h3>
      <table class='table table-striped table-hover table-condensed table-responsive' style="table-layout: fixed; margin: 0 auto; width: 100%x;" id="phenotypes">
    <colgroup>
            <col style="width:50%" />
            <col style="width:50%" />
    </colgroup>
        <thead>
          <th>Phenotype</th>
          <th>Evidence</th>
        </thead>
        <tbody>
        </tbody>
      </table>

      </div>
</div>


<script>

$.getJSON("/api/wormbase/widget/gene/{{ gene_record.gene_id }}/external_links", function(msg) {
  link_set = {Wormbase: "https://www.wormbase.org/species/c_elegans/gene/{{ gene_record.gene_id }}"}
  $.each(msg["fields"]["xrefs"]["data"], function(k, d) {
    if (k == "AceView") {
      id = d["gene"]["ids"][0];
      link = "https://www.ncbi.nlm.nih.gov/IEB/Research/Acembly/av.cgi?db=worm&q=" + id;
      link_set[k] = link;
    } else if(k == "NCBI") {
      id = d["gene"]["ids"][0];
      link = "https://www.ncbi.nlm.nih.gov/gene/?term=" + id;
      link_set[k] = link;
    } else if(k == "NDB") {
      id = d["locus_tag"]["ids"][0];
      link = "https://www.wormbase.org/species/c_elegans/gene/" + id;
      link_set[k] = link
    } else if(k == "RefSeq") {
      id = d["mRNA"]["ids"][0];
      link = "https://www.ncbi.nlm.nih.gov/protein/" + id;
      link_set[k] = link
      id = d["protein"]["ids"][0];
      link = "https://www.ncbi.nlm.nih.gov/protein/NP_498558.1" + id;
      link_set[k] = link;
    } else if (k == "TREEFAM") {
      id = d["TREEFAM_ID"]["ids"][0]
      link = "https://www.treefam.org/family/" + id;
      link_set[k] = link;
    } else if (k == "UniProt") {
      id = d["UniProtAcc"]["ids"][0]
      link = "https://www.ebi.uniprot.org/entry/" + id;
      link_set[k] = link;
    } else if (k == "WormQTL") {
      id = d["gene"]["ids"][0];
      link = "https://www.wormqtl.org/molgenis.do?__target=QtlFinderPublic2&select=QtlFinderPublic2&p=" + id;
      link_set[k] = link;
    }


    linked = ""
    link_set = $.each(link_set, function(k, v) {
      linked += "<li class='list-group-item'><a style='width: 100%; height:100%; display: block;' href='" + v + "'>" + k + "</a></li>";
    })

    $("#external_links").html(linked);

  });
  
})

</script>

<script>
{# Gene Ontology #}
var term_set = "";
var current_grouping = "";
$.getJSON("/api/wormbase/widget/gene/{{ gene_record.gene_id }}/gene_ontology", function(msg) {
  $.each(msg["fields"]["gene_ontology_summary"]["data"], function(grouping, v) {
    grouping = grouping.replace("_", " ");
    $.each(v, function(i, term) {
      term_d = term["term_description"][0];
      term_set += "<tr><td>" + grouping + "</td><td><a href='https://amigo.geneontology.org/amigo/term/" + term_d["id"] + "'>" + term_d["id"] + "</a></td><td>" + term_d["label"] + "</td></tr>";
    });
  });
  $("#gene_ontology > tbody").html(term_set)
})
</script>

<script>
{# Phenotypes #}

$.getJSON("/api/wormbase/widget/gene/{{ gene_record.gene_id }}/phenotype", function(msg) {
  if (msg["fields"]["phenotype"]["data"]) {
    ptable = "";
  $.each(msg["fields"]["phenotype"]["data"], function(k, e) {
    phenotype = e["phenotype"]["label"];
    ptable += "<tr><td>" + phenotype + "</td><td>";
    $.each(e["evidence"], function(evidence_type, piece_of_evidence) {
      $.each(piece_of_evidence, function(x,i) {
        console.log(i);
        if (i['text']['class'] == 'rnai') {
          evidence_class = "RNAi";
        } else {
          evidence_class = i['text']['class'];
        }
        ptable += " <a href='https://www.wormbase.org/search/phenotype/" + i['text']["id"] + "' class='label label-primary'>" + evidence_class + ": " + i['text']["label"] + "</a>"
      });
    });
    ptable += "</td></tr>";
  });
  $("#phenotypes > tbody").html(ptable)
}
});

</script>

{% endblock %}


