{% extends "_layouts/default.html" %}

{% block content %}

<div class="row">
  <div class="col-md-10">
  </div> <!-- /col-md-10 -->
  <div class="col-md-2">
    <a id='create' value="create" type='submit' href="{{ url_for('data_admin.data_create') }}" class="btn btn-primary btn-block">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
      Create
    </a>
  </div> <!-- /col-md-2 -->
</div> <!-- /row -->

<div class="row">
  <div class="col-md-12">
    <table>
      <thead>
        <tr class="header">
          <th><strong> Dataset </strong></th>
          <th><strong> Wormbase Version </strong></th>
          <th><strong> Report Version </strong></th>
          <th><strong> ID </strong></th>
          <th><strong> Edit </strong></th>
          <th><strong> Delete </strong></th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            {% if item %}
              <td> {{ item.dataset }} </td>
              <td> {{ item.wormbase }} </td>
              <td> {{ item.version }} </td>
              <td> {{ item.key.name }} </td>
              <td>
                <a href="{{ url_for('data_admin.data_edit', id=item.key.name) }}"> 
                  Edit
                </a>
              </td>
              <td>
                <a href="{{ url_for('data_admin.data_delete', id=item.key.name) }}"> 
                  Delete
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> <!-- /col-md-12 -->
</div> <!-- /row -->


{% endblock %}
