{% extends "_layouts/default.html" %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <table>
      <thead>
        <tr class="header">
          <th><strong> ID </strong></th>
          <th><strong> Username </strong></th>
          <th><strong> Full Name </strong></th>
          <th><strong> Email </strong></th>
          <th><strong> Verified Email </strong></th>
          <th><strong> Roles </strong></th>
          <th><strong> Created On </strong></th>
          <th><strong> Last Login </strong></th>
          <th><strong> Edit </strong></th>
          <th><strong> Delete </strong></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            {% if user %}
              <td> {{ user.key.name }} </td>
              <td> {{ user.username }} </td>
              <td> {{ user.full_name }} </td>
              <td> {{ user.email }} </td>
              <td> {{ user.verified_email }} </td>
              <td> {{ user.roles }} </td>
              <td> {{ user.created_on }} </td>
              <td> {{ user.last_login }} </td>
              <td>
              <a href="{{ url_for('users.users_edit', id=user.key.name) }}"> 
                  Edit
                </a>
              </td>
              <td>
                <a href="{{ url_for('users.users_delete', id=user.key.name) }}"> 
                  Delete
                </a>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
	</div> <!-- /col-md-12 -->
</div> <!-- /row -->


{% endblock %}
