{% extends "_layouts/default.html" %}

{% block custom_head %}
<script src="/static/js/handsontable.full.min.js"></script>
<link rel="stylesheet" media="screen" href="/static/css/handsontable.full.min.css">
{% endblock %}

{% block content %}
<form method="POST">

<div class="row">

<div class="col-md-6">

  <fieldset class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" id="Email" placeholder="Enter email">
    <small class="text-muted">We'll never share your email with anyone else.</small>
  </fieldset>
  <fieldset class="form-group has-feedback">
    <label for="ReportName">Report Name</label>
    <input type="text" class="form-control" id="ReportName" placeholder=""  autocomplete='off'>
    <span class="glyphicon glyphicon-remove form-control-feedback report_name_error has-error" style="display: None;" aria-hidden="true"></span>
    <small class="text-muted avail_url"></small>
  </fieldset>

  
  <label>Release</label>
  <div class="radio">
    <label>
      <input type="radio" name="Release" value="public" checked>
      Public <small class="text-muted">Your report will be publicly available.</small>
    </label>
  </div>

  <div class="radio">
    <label>
      <input type="radio" name="Release" value="embargo12">
      Embargo for 1 year
    </label> <small class="text-muted embargo12"></small>
  </div>

    <div class="radio">
    <label>
      <input type="radio" name="Release" value="private">
      Private <small class="text-muted">Your report will be kept private.</small>
    </label>
  </div>

  <label>Data</label><br />

</div>


<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">INFO</div>
<div class="panel-body">
<strong> TOTAL IN QUEUE </strong> {{ queue.size() }}
Explanation of how this works; directions...<br /><br />

DISCLAIMER: {{ lipsum(n=1) }}</div>
</div>
</div>
</div>


<div class="row">
      <div class="col-md-12">
            <div id="entry"></div>
                        <small class="text-muted">Copy and Paste your dataset into the table above. You can modify trait names.</small>

            <div class="pull-right">
            <button type="submit" style="margin-top: 5px;" class="btn btn-primary btn submit">Submit</button>
            </div>
      </div>

</div>
</form>
{% endblock %}


{% block script %}

<script>


String.prototype.hashCode = function() {
  var hash = 0, i, chr, len;
  if (this.length === 0) return hash;
  for (i = 0, len = this.length; i < len; i++) {
    chr   = this.charCodeAt(i);
    hash  = ((hash << 10) - hash) + chr;
    hash |= 0; // Convert to 32bit integer
  }
  return Math.abs(hash);
};


  var data = [
    ["STRAIN", "trait1", "trait2", "trait3"],
  ];

var render_bold = function (instance, td, row, col, prop, value, cellProperties) {
  Handsontable.renderers.TextRenderer.apply(this, arguments);
  td.style.fontWeight = 'bold';
};

var render_header = function (instance, td, row, col, prop, value, cellProperties) {
  Handsontable.renderers.TextRenderer.apply(this, arguments);
  td.style.fontWeight = 'bold';
  td.style.backgroundColor = '#EAEAEA';
};

strain_list = {{strain_list| safe }};
incorrect_strains = [];
// Strain Validator
strainValidator = function (value, callback) {
    setTimeout(function(){
      if (strain_list.includes(value) || value == "") {
        callback(true);
      }
      else {
        callback(false);
      }
    }, 1);
  };

var container = document.getElementById('entry');
var hot = new Handsontable(container,
 {
   data: data,
   colHeaders: false,
   stretchH: 'all',
   columnSorting: true,
   contextMenu: true,
   fixedRowsTop: 1,
   minSpareRows: 5,
   minSpareCols: 1,

   cells: function (row, col, prop) {
      var cellProperties = {};
      
      if (row === 0) {
        cellProperties.renderer = render_header;
      }
      if (col === 0) {
        cellProperties.renderer = render_bold;
        cellProperties.validator = strainValidator;
        cellProperties.autoComplete = strain_list;
      }
      if (col === 0 && row == 0) {
        cellProperties.readOnly = true;
        cellProperties.renderer = render_header;
      }
    return cellProperties
  }


  });

var update_url_message = function(e) {
  report_name = $("#ReportName").val();
  release = $("input[name=Release]:checked").val()


  // Validate report name.
  if (report_name.length > 0) {
  $.ajax({
   url:"/validate_url/",
   data: JSON.stringify(
          {"report_name": $("#ReportName").val(),
           "release": release }),
   method: "POST",
   contentType: 'application/json;charset=UTF-8'
   }).done(function(msg) {
      msg = JSON.parse(msg);
      if ("error" in msg) {
        // Error
        $("#ReportName").parent().addClass("has-error");
        $(".report_name_error").fadeIn();
        $(".avail_url").html(msg["error"]).addClass("has-error");
      } else {
        $(".report_name_error").fadeOut();
        $("#ReportName").parent().removeClass("has-error");

      if ($("[name='Release']:checked").val() == "public") {
      report_url = "/report/" + msg["report_slug"];
      } else {
      report_url = "/report/" + msg["report_hash"];
      }

      $(".avail_url").html("Your report will be available at " + report_url)
    }
   });
 } else {
    $("#ReportName").parent().removeClass("has-error");
    $(".report_name_error").fadeOut();
    $(".avail_url").html("");
  }
}

$("#ReportName,input[name=Release]").on('change', update_url_message);
$("#ReportName,input[name=Release]").on('keyup', update_url_message);


$("form").submit(function(e) {
  e.preventDefault();
  //$(".submit").addClass("disabled")

  user_email = $("#Email").val()
  report_name = $("#ReportName").val()
  release = $("input[name=Release]:checked").val()

  data = hot.getData();
  $.ajax({
     url:"/process_gwa/",
     data: JSON.stringify({"email":user_email,
            "report_name": $("#ReportName").val(),
            "release": release,
            "trait_data": hot.getData() }),
     method: "POST",
     contentType: 'application/json;charset=UTF-8'
     }
     ).done(function(msg) {
      msg = JSON.parse(msg);
      if(msg["success"]) {
        console.log("Great");
      }
      if(msg["success"]) {
        if ($("[name='Release']:checked").val() == "public") {
          report_url = "/report/" + msg["report_slug"];
        } else {
          report_url = "/report/" + msg["report_hash"];
        }
        $(".alert_row").css("display:Visible")
        $(".alert").addClass("alert-success")
        $(".content").prepend("<div class='row'><div class='col-md-12'><div class='alert alert-success' role='alert'><strong>Success!</strong> Now mapping. Your report will be available at <a href='" + report_url + "'>" + report_url + "</a>. Redirecting you there now.</div></div></div>")
        setTimeout(
        function() 
        {
          window.location.href = report_url;
        }, 5000);
      }
  });
})




</script>

{% endblock %}
