{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
      <div class="col-md-12">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-md-4">
              <img src="/static/img/logo.png" alt="Andersen Lab Logo" class="pull-left hidden-xs" style="margin-right:20px; width: 250px;"/>
              <p style="text-align:center; position:relative; left:10px;" class="visible-xs"><img src="/static/img/logo.png" alt="Andersen Lab Logo"  style="margin-right:20px; max-height:150px; margin: auto; display: inline;" class=" img-responsive"/></p>
          </div>
            <h1 class="hidden-xs">cegwas-web</h1>
            <h1 class="visible-xs" style="text-align:center">cegwas-web</h1>
            <p class="hidden-xs" ><em>C. elegans</em> genome-wide association portal</p>
            <p class="visible-xs" style="text-align:center"><em>C. elegans</em> genome-wide association portal</p>
          </div>
          <div>
            </div>
            {% if data1 %}
            
              <table>
                {% for row in data1 %}
                   <tr>
                      {{ row }}
                   </tr>
                {% endfor %}
              </table>
            {% endif %}
          </div>
            <div class="row">
    <div class="col-md-4">
      <div class="thumbnail" style="border-color: black; border-style:solid; padding: 0" >
        <img src="/static/img/main/strain_map.png" alt="..." style="border-color: black; border-style:solid ">
        <div class="caption">
          <h3>Strains</h3>
          <p>Strains</p>
          <p><a href="#" class="btn btn-primary" role="button">To Strains!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="border-color: black; border-style:solid; padding: 0" >
        <img src="/static/img/main/variant-calling.png" alt="...">
        <div class="caption">
          <h3>Data</h3>
          <p>Data</p>
          <p><a href="#" class="btn btn-primary" role="button">To Data!</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail" style="border-color: black; border-style:solid; padding: 0" >
        <img src="/static/img/main/map_data.png" alt="..." border="solid-black">
        <div class="caption">
          <h3>Map</h3>
          <p>Map</p>
          <p><a href="url_for()" class="btn btn-primary" role="button">To Map!</a></p>
        </div>
      </div>
    </div>
</div>
      </div>
      </div>
<div class="row">
<div class="col-md-6">
<h4>Latest Mappings</h4>
<ul class="list-group">
<li class="list-group-item">m1</li>
<li class="list-group-item">m2</li>
<li class="list-group-item">m3</li>
<li class="list-group-item">m4</li>
</ul>
</div>
  <div class="col-md-6">
    {% if files %}
      <h4>News &amp; Updates</h4>
      <ul class="list-group">
        {% for f in files %}

        <li class="list-group-item">
            <h4 class="list-group-item-heading"><small class="pull-right">{{ f[:10] }}</small><a href="{{ url_for('news_item', filename = f.strip(".md")) }}">{{ f[11:].strip(".md").replace("-", " ") }}</a></h4>
          </a>

        </li>

        {% endfor %}
      </ul>
    <div class="pull-right">
      <a href = "{{ url_for('feed') }}" type="button" style="background-color: #FFA500; border: 1px solid black; color: black;" class="btn btn-primary btn-xs">RSS</a>
      <a href = "{{ url_for('news') }}" type="button" class="btn btn-primary btn-xs">Archive</a>
    </div>
    {% endif %}
</div>
</div>
{% endblock %}

{% block script%}
{% endblock %}