{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-8">
      {{render_markdown("outreach.md")}}
      </div>

      <div class="col-md-4">

        <div class="thumbnail pull-left">
          <img src="/static/img/outreach/HappyPicking.jpg" style="width: 250px;" />
        </div>

        <div class="thumbnail pull-left">
          <img src="/static/img/outreach/SoManyApples.jpg" style="width: 250px;"  />
        </div>

        <div class="thumbnail pull-left">
          <img src="/static/img/outreach/Teamwork.jpg" style="width: 250px;" />
        </div>
      </div>
  </div>
{% endblock %}
