{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-8">
      {{render_markdown("outreach.md")}}
      
      </div>
      <div class="col-md-4">
        <div class="thumbnail pull-left">
          <img style="height: 250px; width: 250px;"src="/static/img/outreach/SoManyApples.png"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail pull-left">
          <img style="height: 260px; width: 250px;"src="/static/img/outreach/HappyPicking.jpg"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail pull-left">
          <img style="height: 260px; width: 250px;"src="/static/img/outreach/Teamwork.png"/>
        </div>
      </div>
  </div>
{% endblock %}
