{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-8">
      {{render_markdown("outreach.md")}}
      <br></br>
      </div>

      <div class="col-md-4">
        <br>
        <a class="btn btn-primary btn-block" style="background-color: red; border-color: red; width: 260px" href="{{ url_for("strain_submission_page") }}" role="button">Submit Strains</a>
        </p>
        <div class="thumbnail pull-left">
          <img src="/static/img/outreach/HappyPicking.jpg" style="width: 250px;" />
        </div>

        <div class="thumbnail pull-left">
          <img src="/static/img/outreach/SoManyApples.jpg" style="width: 250px;"  />
        </div>

        <div class="thumbnail pull-left">
          <img src="/static/img/outreach/Teamwork.jpg" style="width: 250px;" />
        </div>
      </div>
  </div>
{% endblock %}
