{% extends "_layouts/default.html" %}

{% block custom_head %}
<script type="text/javascript" src="/static/js/chartist.min.js"></script>
<link rel="stylesheet" href="/static/css/chartist.min.css" />
<style>
.ct-vertical { 
  font-size: 12px;
  line-height: 0px;
}
.ct-horizontal { 
  font-size: 12px;
}
.ct-grid {
  stroke: #B3B3B3;
  stroke-dasharray: 1px;
}
.ct-line { 
  stroke-width: 1px; 
}
</style>
{% endblock %}


{% block content %}
<div class="row">
      <div class="col-md-6">
      <h3>Mapping Queue</h3>
      <table class = "table table-striped table-hover">
      <thead>
      <th>Order</th>
      <th>Report Name</th>
      <th>Trait Name</th>
      </thead>
      <tbody>
      {% for i in ql %}
        {% if i["release"] == 0 %}
        <tr>
          <td> {{ loop.index }}</td>
          <td>
            {{ i["report_name"] }}
          </td>
          <td>
            {{ i["trait_name"]}}
          </td>
        </tr>
        {% else %}
        <tr>
          <td> {{ loop.index }}</td>
          <td>
            private
          </td>
          <td>
            private
          </td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
      </table>

      </div>
      <div class="col-md-6" style="text-align: center;">
          <div class="timeline_strain_growth" style="height:250px;"></div>
         <strong>Growth in the number of wild isolate strains</strong>
      </div>
  </div>
{% endblock %}

{% block script %}
<script>
year_labels = Array();
for (var i = 1950; i != 2020; ++i) {
    if (i % 10 == 0) {
      year_labels.push(i)
    } else {
      year_labels.push(null);
    }
  }

new Chartist.Line('.timeline_strain_growth', {
  series: [[{% set cumulative_total = 0 %}{% for year, i in collection_dates|groupby("isolation_date.year") -%}
            {% set cumulative_total = cumulative_total + i|length %}{x: {{ year }}, y: {{ cumulative_total }} },{% endfor %}]],
}, {
  fullWidth: true,
  axisX: {
    type: Chartist.AutoScaleAxis,
    onlyInteger: true,
    label: "Year",
  },
  axisY: {
    type: Chartist.FixedScaleAxis,
    ticks: [0, 25, 50, 75, 100, 125, 150, 175, 200],
    low: 0,
    high: 200,
  },
  lineSmooth: Chartist.Interpolation.step(),
  showPoint: false,
  chartPadding: {
    right: 40
  }
});

</script>
{% endblock %}