{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
<div class="col-md-12">
      <h4>Mapping Queue</h4>
      <table class = "table table-striped table-hover">
      <thead>
      <th>Order</th>
      <th>State</th>
      <th>Machine</th>
      <th>Report Name</th>
      <th>Trait Name</th>
      <th>Update</th>
      </thead>
      <tbody>

      {% for w in workers %}
      {% if w["status"] == "running" %}
      <tr class="success">
      <td><i class="glyphicon glyphicon-refresh"></i></td>
      {% else %}
      <tr>
      <td><i class="glyphicon glyphicon-stop"></i></td>
      {% endif %}
      <td>
      {{ w["status"] }}
      </td>
      <td>
        {{ w["full_name"].replace(".c.andersen-lab.internal", "")}}
      </td>
      <td>
        {{ w["report_slug"]}}
      </td>
      <td>
        <a href="{{ url_for('trait_view', report_slug=w["report_slug"], trait_slug=w["trait_slug"]) }}">{{ w["trait_slug"] }}</a>
      </td>
      <td>
        {{ w["last_update"] | format_datetime }}
      </td>
      </tr>
      {% endfor %}


      {% for i in ql %}
        <tr>
        <td>{{ loop.index }}</td>
          <td>queued</td>
          <td>
          -
          </td>
          <td>
          {% if i["release"] == 0 %}
            {{ i["report_name"] }}
          {% else %}
          -
          {% endif %}
          </td>
          <td>
          {% if i["release"] == 0 %}
            <a href="{{ url_for('trait_view', report_slug=i["report_slug"], trait_slug=i["trait_slug"]) }}">{{ i["trait_name"]}}</a>
          {% else %}
          -
          {% endif %}
          </td>
          <td>
            {{ i["submission_date"] | format_datetime }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
</div>
  </div>
{% endblock %}

{% block script %}
<script>

window.setInterval(function() {
location.reload();
}, 10000);


</script>
{% endblock %}
