{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
      <div class="col-md-12">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-md-4">
              <img src="/static/img/logo.png" alt="Andersen Lab Logo" class="pull-left hidden-xs" style="margin-right:20px; width: 250px;"/>
              <p style="text-align:center; position:relative; left:10px;" class="visible-xs"><img src="/static/img/logo.png" alt="Andersen Lab Logo"  style="margin-right:20px; max-height:150px; margin: auto; display: inline;" class=" img-responsive"/></p>
          </div>
            <h1 class="hidden-xs">cegwas-web</h1>
            <h1 class="visible-xs" style="text-align:center">cegwas-web</h1>
            <p class="hidden-xs" ><em>C. elegans</em> genome-wide association portal</p>
            <p class="visible-xs" style="text-align:center"><em>C. elegans</em> genome-wide association portal</p>
          </div>
          <div>
          {{ render_markdown("home.md") }}
            {% if data1 %}
            
              <table>
                {% for row in data1 %}
                   <tr>
                      {{ row }}
                   </tr>
                {% endfor %}
              </table>
            {% endif %}
          </div>
      </div>
      </div>
  </div>
  <div class="col-md-4 pull-right" style="padding:0px;">
    {% if files %}
      <br>
      <br>
      <h3>News & Updates</h3>
      <ul class="list-group">
        {% for f in files %}

        <li class="list-group-item">
            <h4 class="list-group-item-heading"><small class="pull-right">{{ f[:10] }}</small><a href="news/{{ f }}">{{ f[11:].strip(".md").replace("-", " ") }}</a></h4>
          </a>

        </li>

        {% endfor %}

      </ul>
    <button type="button" class="btn btn-primary pull-right" id="archive">Archive</button>
    {% endif %}
</div>
{% endblock %}

{% block script%}
<script>
  $("#archive").click(function() {
    console.log("in here")
    window.location.href = "/news/"
  })
</script>
{% endblock %}