{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
      <div class="col-md-8">
              <div id="map" class="col-md-8" style="height: 500px; width:100%"></div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
              Panel content
            </div>
        </div>
      </div>
</div>
{% endblock %}


{% block script %}

<script>

  

    ACCESS_TOKEN = 'pk.eyJ1IjoianByNyIsImEiOiJjaWhxbTRvdmswMDFzdGRtMDd0cGN6cG9lIn0.YzgwcnxBn6_DauMzz5fiQg';
    MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    OSM_ATTRIB = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    var map = L.map('map').setView([60, -10], 2);

  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(map);

  L.marker([51.5, -0.09]).addTo(map)
  L.marker([51.5, -0.29]).addTo(map)
  L.marker([51.5, -0.19]).addTo(map)


</script>

{% endblock %}
