{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
      <div class="col-md-8">
              <div id="map" class="col-md-8" style="height: 500px; width:100%"></div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading"><img src = "/static/img/icons/selected.png" width="20px;" /><strong>Strain Information</strong></div>
              <ul class="list-group">
                <li class="list-group-item"><strong>Name</strong> <div class="strain pull-right"></div></li>
                <li class="list-group-item"><strong>Latitude</strong> <div class="lat pull-right"></div></li>
                <li class="list-group-item"><strong>Longitude</strong> <div class="lng pull-right"></div></li>
                <li class="list-group-item" style="height:150px;"><strong>Isolation</strong><br /> <div class="isolation"></div></li>
                <li class="list-group-item"><strong>Location</strong> <div class="location pull-right"></div></li>
              </ul>
        </div>
      </div>
</div>
{% endblock %}


{% block script %}

<script>

// Icons
var icon_norm = L.icon({
    iconUrl: '/static/img/icons/marker.png',
    iconSize: [48, 48],
    iconAnchor: [24, 48],
    popupAnchor: [-3, -76],
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});

var icon_hover = L.icon({
    iconUrl: '/static/img/icons/selected.png',
    iconSize: [48, 48],
    iconAnchor: [24, 48],
    popupAnchor: [-3, -76],
    shadowSize: [68, 95],
    shadowAnchor: [22, 94]
});

// Default click_s
var click_s = {
  target: {
    options: {strain: "", title: "", loc: "", isolation: "", location: ""},
    setIcon: function(){},
  },
  latlng: { lat: "", lng: ""},
}


function set_panel_from_search(m) {
  click_s.target.setIcon(icon_norm)
  s = m.layer.options
  $(".strain").html("<a href='/strain/" + s.title + "'>" + s.title + "</a>");
  $(".location").text(s.loc);
  $(".lat").text(m.latlng.lat);
  $(".lng").text(m.latlng.lng);
  $(".isolation").text(s.isolation);
}

function set_panel_content(m) {
  // Propogates side panel with strain information
  click_s.target.setIcon(icon_norm)
  s = m.target.options;
  m.target.setIcon(icon_hover)
  strain = s.title;
  loc = s.loc;
  isolation = s.isolation;

  $(".strain").html("<a href='/strain/" + s.title + "'>" + s.title + "</a>");
  $(".location").text(loc);
  $(".lat").text(m.latlng.lat);
  $(".lng").text(m.latlng.lng);
  $(".isolation").text(isolation);
}

function set_click_locked_content(m) {
  // Propogates side panel with click-locked content.
  click_s.target.setIcon(icon_norm)
  click_s = m;
  set_panel_content(click_s)
}

function restore_click_locked_content(m) {
  // Propogates side panel with click-locked content.
  m.target.setIcon(icon_norm)
  click_s.target.setIcon(icon_norm)
  set_panel_content(click_s)
}

    ACCESS_TOKEN = 'pk.eyJ1IjoianByNyIsImEiOiJjaWhxbTRvdmswMDFzdGRtMDd0cGN6cG9lIn0.YzgwcnxBn6_DauMzz5fiQg';
    MB_ATTR = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
      '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      'Imagery © <a href="http://mapbox.com">Mapbox</a>';
    MB_URL = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + ACCESS_TOKEN;
    OSM_URL = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    OSM_ATTRIB = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors';

    var map = L.map('map').setView([30, -35], 2);

  L.tileLayer(MB_URL, {attribution: MB_ATTR, id: 'mapbox.streets'}).addTo(map);
  strain_info = [];
  strain_names = [];
  markers = [];
   d3.tsv("/static/data/strain_info.tsv").get(function(error, data) {
     if (error) throw error;
     strain_info = data;
     data.forEach(function(d) {
     if (d.latitude != "NA" & d.latitude != "") {
      strain_names.push(d.strain);
       m = L.marker([d.latitude, d.longitude], { icon: icon_norm, 
                                             title: d.strain,
                                             isolation : d.isolation,
                                             loc : d.location }).addTo(map)
                                            .on("click", set_click_locked_content)
                                            .on('mouseover', set_panel_content)
                                            .on('mouseout', restore_click_locked_content)
      markers.push(m);
     }
     });
    var strain_layer = L.layerGroup(markers);
    var search_control = new L.Control.Search({layer: strain_layer,
                                          initial: false,
                                          collapsed: false,
                                          position:'topright',
                                          tooltipLimit: 4,
                                          zoom: 5,
                                          animateLocation: false,
                                          markerLocation: false,
                                          markerIcon: icon_hover });
    search_control.on('search_locationfound', set_panel_from_search);
    map.addControl( search_control );
   });


</script>

{% endblock %}
