{% extends "_layouts/default.html" %} {% block custom_head %}
<style>

#checkout.affix {
    position: fixed;
    top: 20px;
    width: 228px;
}
</style>
{% endblock %} {% block content %}
<form method="POST" action="/strains/order">
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-md-2"></div>
        </div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li><a href="{{ url_for('strain_listing_page') }}">strain</a></li>
            <li class="active">order</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width 200px;">Isotype</th>
                    <th>Strains</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for isotypes in ordered %}
                <tr>
                    <td><a href="{{ url_for('isotype_page', isotype_name=isotype) }}">{{ isotypes[3:6] }}</a></td>
                    <td>{{ isotypes[6:] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
        </form>
{% endblock %} {% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {

            var rex = new RegExpz($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

$("#checkAll").click(function() {
    $('input:checkbox:visible').not(this).prop('checked', this.checked);
});



set1 = ["AB1", "AB4", "AF16"];
set2 = ["BRC20067", "CB4851", "CB4852"];
set3 = ["CB4853", "CB4854", "CB4855"];
set4 = ["CB4856", "CB4857", "CB4858"];

$("button[id^='set']").click(function () {
    $.each(window[$(this).attr('id')], 
        function(index,strain) {
            $('td').filter(function() {
                if ($(this).text() === strain){
                    $(this).prev().children().prop('checked', true);
                    //pick the previous td element (this is where the checkbox is)
                }
        })
    })
})

$("button[id^='checkout']").click(function() {
    checkedValues = $('input:checkbox:checked').map(function() {
        return $(this).next();
    }).get();
    console.log(checkedValues);
});


</script>
{% endblock %}
