{% extends "_layouts/default.html" %} {% block custom_head %}
<style>

#checkout.affix {
    position: fixed;
    top: 20px;
    width: 228px;
}
</style>
{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-10">
                <h2>{{ title }}</h2>
            </div>
            <div class="col-md-2">
                <div id="checkout" style="z-index:10000;" data-offset-top="70" data-spy="affix">
                    <button type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Checkout
                    </button>
                </div>
            </div>
        </div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main') }}">Home</a></li>
            <li class="active">strain</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <button type="button"  class="btn btn-primary" id="heritability">Heritability Set</button>
                <button type="button"  class="btn btn-success" id="set1">Set 1</button>
                <button type="button"  class="btn btn-success" id="set2">Set 2</button>
                <button type="button"  class="btn btn-success" id="set3">Set 3</button>
                <button type="button"  class="btn btn-success" id="set4">Set 4</button>
            </div>
            <div class="col-md-4">
                <input id="filter" type="text" class="form-control" placeholder="Filter Here...">
            </div>
        </div>
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th style="width: 20px;">
                        <input type="checkbox" id="checkAll" />
                    </th>
                    <th style="width: 200px;">Isotype</th>
                    <th>Strains</th>
                </tr>
            </thead>
            <tbody class="searchable">
                {% for isotype, strains in strain_listing|groupby('isotype') %}
                <tr>
                    <td>
                        <input type="checkbox" name="strain" />
                    </td>
                    <td><a href="{{ url_for('isotype_page', isotype_name=isotype) }}">{{ isotype }}</a></td>
                    <td>{{ strains|join(" ") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Checkout</h4>
            </div>
            <div class="modal-body">
                <h2>Summary</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <form action="" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_fM3QofdBu9WCRvCkFIx8wgPl" data-amount="2000" data-name="Demo Site" data-description="2 widgets ($20.00)" <!--data-image="/128x128.png" -->
                    data - locale = "auto" >
                    </script>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %} {% block script %}
<script>
$(document).ready(function() {

    (function($) {

        $('#filter').keyup(function() {

            var rex = new RegExp($(this).val(), 'i');
            $('.searchable tr').hide();
            $('.searchable tr').filter(function() {
                return rex.test($(this).text());
            }).show();

        })

    }(jQuery));

});

$("#checkAll").click(function() {
    $('input:checkbox:visible').not(this).prop('checked', this.checked);
});


$('#checkout').on('click', function() {
    $('.modal').modal('show')
});
</script>
{% endblock %}
