{% extends "_layouts/default.html" %}

{% block content %}
<div class="row">
      <div class="col-md-12">
              <h2>{{ title }}</h2><hr />
      </div>
</div>

<div class="row">
      <div class="col-md-12">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Isotype</th>
            <th>Strain</th>
          </tr>
        </thead>
        <tbody>
        {% for line in strain_listing %}
        <tr>
          <td>{{ line.isotype }}</td>
          <td><a href = "/strain/{{ line.strain }}">{{ line.strain }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
</div>

{% endblock %}


{% block script %}{% endblock %}
