{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-8">
      {{ render_markdown("outreach.md") }}
      <br></br>
      </div>

      <div class="col-md-4">
        <br>
        <a class="btn btn-primary btn-block" href="{{ url_for("strain.strain_submission_page") }}" role="button">Submit Strains</a>
        </p>
        <div class="thumbnail img-responsive">
          <img src="/static/img/outreach/HappyPicking.jpg" />
        </div>

        <div class="thumbnail img-responsive">
          <img src="/static/img/outreach/SoManyApples.jpg"  />
         </div>

        <div class="thumbnail img-responsive">
          <img src="/static/img/outreach/Teamwork.jpg"   />
         </div>
      </div>
  </div>
{% endblock %}
