{% extends "_layouts/default.html" %}


{% block content %}
<div class="row">
      <div class="col-md-8">

{% filter markdown %}
## Collect Nematodes As A Citizen Scientist! ##
The <em>Caenorhabditis</em> research community is looking for new wild strains from throughout the world! **If you would like to help us**, please feel free to [contact us]({{ url_for('primary.contact')}}).

We will send you everything you need to isolate your own nematodes. After you mail the samples back to us, we will tell you (as much as we can) about what species you found.

### The procedure is very easy ###

1. Collect rotting vegetation: fruits, tubers, seeds, flowers, bark, nuts, etc.
2. Put the samples on the provided agar plates.
3. Wait a couple of days.
4. Wrap up the plates with provided parafilm.
5. Mail them back to me at my expense.

Download the full instructions [here](http://andersenlab.org/files/WormCollecting.pdf)

If you would like materials to collect your own nematodes, please fill out this [form](http://docs.google.com/forms/d/15JXAQptqCSenZMyqHHOKQH1wJe7m0n8_Q0nHMe0eTUY/viewform?formkey=dERCQ1lsamU1ZFNtOGJJUkJqVzZOOVE6MQ#gid=0).


The Andersen laboratory uses a Biosafety level 3 facility for the isolation of nematodes from foreign soil and rotting plant debris. We have received APHIS permits (both international and interstate) which allow us to have foreign samples shipped to Northwestern for processing. Please see our [standard operating procedure](http://andersenlab.org/files/USDA_SOP.pdf) for additional information.

### APHIS Permits ###

* [APHIS - Interstate](http://andersenlab.org/files/APHISDom.pdf)
* [APHIS - International](http://andersenlab.org/files/APHISIntl.pdf)

### Additional Protocols  ###
* [Sampling and Isolation of _C. elegans_ from the Natural Habitat](https://storage.googleapis.com/elegansvariation.org/static/protocols/SamplingIsolationC.elegansNaturalHabitat.pdf)
{% endfilter %}

      <br></br>
      </div>

      <div class="col-md-4">
        <br>
        <a class="btn btn-primary btn-block" href="{{ url_for("strain.strain_submission_page") }}" role="button">Submit Strains</a>
        </p>
        <div class="thumbnail img-responsive">
          <img src="/static/img/outreach/HappyPicking.jpg" />
        </div>

        <div class="thumbnail img-responsive">
          <img src="/static/img/outreach/SoManyApples.jpg"  />
         </div>

        <div class="thumbnail img-responsive">
          <img src="/static/img/outreach/Teamwork.jpg"   />
         </div>
      </div>
  </div>
{% endblock %}
